[2019-09-30 17:23] l0nax commented on #210
Any Updates?

[2019-09-30 17:29] l0nax commented on #148
Any updates?

[2019-10-03 21:34] EsEnZeT commented on #163
@Freekers doesn't look like

related file I guess: https://github.com/hunterlong/statping/blob/master/core/configs.go

[2019-10-04 15:29] l0nax commented on #210
I've implemented that Feature.

[2019-10-04 15:29] l0nax commented on #148
I've implemented that Feature.

[2019-10-05 18:51] gamefundas commented on #210
@l0nax this is fantastic. Will upgrade to see how this works now.

[2019-10-05 23:25] tyler-public opened #259 "[Feature Request] Option to not follow 3XX redirects"
**What would you like on Statping?**
An option to have statping not follow HTTP 3XX redirects when doing status checks

**Describe the solution you'd like**
A Toggle option per check to follow redirects or not

**Describe alternatives you've considered**
I've tried setting the expected status code to 302, but it still reports as down because statping follows redirects when doing HTTP status checks

[2019-10-07 07:48] l0nax commented on #210
Please report if something doesn't work under the Pull-Request.

Anand Nadar <notifications@github.com> schrieb am Sa., 5. Okt. 2019, 20:51:

[2019-10-07 15:33] l0nax commented on #210
There's an issue with the "Offline Time", I will fix this. (This isn't an issue of my submitted code, this is an issue of the original CodeBase)

[2019-10-07 15:36] l0nax commented on #210
You can see the problem here:  ![](https://i.imgur.com/HWzi3wj.png)

[2019-10-08 01:39] mzch opened #260 "Unable to connect to MariaDB"
**Describe the bug**
When starting statping, it's unable to connect to local MariaDB. Statping continues to print the following line in the log :
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. I'm using version: 'v0.80.63', MariaDB is 10.3
2. In .env DB_CONN=mysql
3. start statping

**Expected Behavior**
Connect to MariaDB successfully.

[![Gitter](https://img.shields.io/gitter/room/

[2019-10-11 09:37] cimm opened #262 "Demo times out"
I am trying to have a look at the demo statping version at https://demo.statping.com/ but it times out. I tried 12 or so hours ago and again a few seconds ago but it still fails. I also tried from 2 different networks with 2 different devices so I don't think it's related to my setup.

Thank you!

[2019-10-11 11:26] GitHub-Mike commented on #260
Same issue here on Windows with Server-Version: 10.1.37-MariaDB.

If i use yml instead of env also the error appears:

2019/10/11 12:59:16 FATAL: could not connect to database: Error 1298: Unknown or incorrect time zone: 'UTC'

The problem is that MariaDB does not populated the MySQL Time Zone tables, by default.

You have to do this manually. See here:

https://mariadb.com/kb/en/library/time-zone

[2019-10-11 11:47] mzch commented on #260
Hi @GitHub-Mike , Thanks for your advice. I did it, but statping still reports the same error.

[2019-10-11 12:00] GitHub-Mike commented on #260
It would be nice if there would be a setting to adjust the talkability of the log file (verbose mode / log level). Then it would probably be possible to display the error.

Have you ever tried to use the config.yml variant?

[2019-10-11 12:14] mzch commented on #260
Statping printed startup.log as below:
**startup.log**
[code]
And when I tried to use config.yml, statping aborted.
**daemon.log**
[code]
**config.yml**
[code]
What params should I set in .env for verbose mode?

[2019-10-11 12:22] mzch commented on #260
Sorry, I made a mistake. I tried mysql_tzinfo_to_sql, then statping connected to mysql successfully.
Thanks!

[2019-10-11 12:29] GitHub-Mike commented on #260
That was just my wish. :-)

That would have been my next question. Whether the tables are really populated.

[2019-10-11 12:31] mzch commented on #260
Yes, at first the tables were not populated. And at next try they were.

[2019-10-14 20:29] l0nax commented on #210
@gamefundas Any troubles with the new Feature?

[2019-10-15 02:24] gamefundas commented on #210
I will test the failure scenario tomorrow to see how the notifications are sent out.

Thanks
Andy

[2019-10-15 13:13] hwwilliams opened #263 "[Feature Request] For each failure show how long the outage was"
**What would you like on Statping?**
It would be nice if for each failure we could see how long the outage was until it was up again.

[![Gitter](https://img.shields.io/gitter/room/nwjs/nw.js.svg)](https://gitter.im/statup-app/general) [![GitHub release](https://img.shields.io/github/release/hunterlong/statup.svg)](https://github.com/hunterlong/statping/releases/latest) [![Build Status](https://tr

[2019-10-15 15:49] #148 closed

[2019-10-15 15:49] #210 closed

[2019-10-15 18:13] henricook commented on #248
@hunterlong I don't appear to be able to SSH to my instance, no response on port 22 - it's open in the security group and i'm trying to `-u root` - are there any default settings in the AMI that might be disabling ssh?

[2019-10-15 21:51] jamiew0w commented on #187
Just want to echo this as I'm starting to run into this issue on a VM now. It's currently a single core with 1gb ram but load is so low, resizing it shouldn't make a difference.

[code]

This ends up with the page being cutoff midway. Load is low when this happens, plenty of free memory and iostat seems perfectly fine.

Just to give an indication of how often it's occuring:

[code]

This is with 4

[2019-10-16 18:29] MihaiAnei commented on #217
Happens on v0.80.63 as well. I randomly receive notif on slack webhook with the expected code being equal to the received code. No failure shown in the UI so it might be only a problem on the notifications side?

[2019-10-17 10:27] olegmelnik opened #264 "Unable to set PostgreSQL SSL Cert path"
**Describe the bug**
My PostgreSQL cluster accepts connections only via SSL but no option to set sslrootcert value of lib/pq.

**Expected behavior**
Variable needed to pass certificate path like `POSTGRES_SSLCERT`

[![Gitter](https://img.shields.io/gitter/room/nwjs/nw.js.svg)](https://gitter.im/statup-app/general) [![GitHub release](https://img.shields.io/github/release/hunterlong/statup.svg)](htt

[2019-10-17 14:15] ebdavison opened #265 "Incorrectly noting site as down"
I have an HTTP check which is returning an HTTP 200 and yet still I am getting an error stating it is down.  There is also a note that there is a timeout waiting for hearders yet the response tab shows the correct HTML content.

Steps to reproduce the behavior:
1. I'm using version: 0.80.64
2. I went to dashboard and configured the check
3. The check runs
4. returns incorrect status (down) and say

[2019-10-21 17:44] tyler-public opened #266 "[Feature Request] Favicon as overally status (red/green)"
**What would you like on Statping?**
Have the favicon for the browser tab change depending on overall status of services being monitored

**Describe the solution you'd like**
A simple green/red favicon to let the user know at a quick glance that everything is ok/not ok. Possibly a small counter to complement the red favicon showing how many services are having issues.

[![Gitter](https://img.shiel

[2019-10-22 09:50] zeeZ opened #267 "Verify SSL fails for URLs with port number"
**Describe the bug**
When entering a HTTPS URL with a port number and enabling "Verify SSL", the error message suggests that the port number is included in the certificate validity check:

`WARNING: Service Github Failing: HTTP Error Get https://github.com:443: x509: certificate is valid for github.com, www.github.com, not github.com:443 | Lookup in: 7.81 ms`

Using latest docker image, 0.80.64

*

[2019-10-28 15:09] NiseVoid opened #270 "Zooming out on a graph doesn't load additional data"
**Describe the bug**
When zooming out on a graph data outside the initial range is not loaded

**To Reproduce**
Steps to reproduce the behavior:
1. Using version: current master (b640bae63f39e439984b5ad5c0ca75c69ab194f2)
2. Go to the main page (https://status.edu-ix.nl/)
3. Press 'View service' on any service
4. Zoom out on the graph

**Expected Behavior**
I expect the new space on the graph to be

[2019-10-28 16:30] Guyverix commented on #209
I have only been using the system for a week thus far, and I have to agree.  I need a way to be able to export this in CSV to our corp headquarters.  If there is not a tool to do this already, are there any suggestions on a way to go forward on this?

[2019-10-30 13:02] okanozdemir commented on #83
I have the same issue with AWS SES SMTP. I've tried "email-smtp.eu-west-1.amazonaws.com" as SMTP host and I got error message "wrong host name" and there is nothing in the log. I'm in v0.80.63.

[2019-10-30 13:30] gilreginiano opened #272 "automatic refresh status page"
Hi,
I work with Statping 0.80.63 version.
My status page not refreshing to offline\online services.
if my service offline i need to do refresh page to saw that.

there option to refresh page on X seconds? or automatic update page when X offline\Online?

Thanks,
Gil

[2019-11-01 13:42] ebdavison commented on #265
I am still getting these notices.  Has anyone else experience this?  Any more info needed from me?

[2019-11-05 12:08] patelmayankce commented on #264
Yeah, the same issue I am facing with PostgreSQL and MySQL both.

[2019-11-05 20:25] #267 closed

[2019-11-06 17:43] patelmayankce commented on #264
@olegmelnik , Below config in **docker-compose.yml** works for me.
you have to set **POSTGRES_SSLMODE: require**

[code]

[2019-11-06 19:14] NRay7882 commented on #272
@gilreginiano while I know it's not the answer you are looking for, as an alternative you can use a browser plugin to refresh the page for you, such as the [Super Auto Refresh Plus extension for Chrome.](https://chrome.google.com/webstore/detail/super-auto-refresh-plus/globgafddkdlnalejlkcpaefakkhkdoa)

[2019-11-07 14:19] olegmelnik commented on #264
@patelmayankce It’s not possible to specify the path to the certificate that lies in the file system

[2019-11-07 15:24] patelmayankce commented on #264
I used Droplet & aiven.io cluster service for PostgreSQL and it works without include SSL Cert.

did you try directly put SSL cert as value to POSTGRES_SSLMODE variable?

[2019-11-07 15:41] olegmelnik commented on #264
I`m usind Yandex Cloud service and SSL cert is required for public clusters

[2019-11-08 21:15] NRay7882 opened #274 "Bulk Import Not Working"
**Describe the bug**
Using v0.80.65, I'm attempting to migrate all of our services from one dashboard to another. I've created a `bulk_import.csv` containing all of the records needed and made sure R/W permissions on the file are set properly. Attempting to import the file just refreshes the page with no changes to the service.

Testing with the [sample file](https://raw.githubusercontent.com/hunt

[2019-11-11 09:51] teunis90 commented on #203
I would like to see those features implemented as well. It would also be a great addition if you can create a service incident yourself.

Please let us know what we can do.

[2019-11-11 09:56] teunis90 opened #275 "Publish message datetime, Unpublish message datetime"
**What would you like on Statping?**
I would like to add 2 fields to messages, publish datetime and unpublish datetime. This way we can schedule notifications on our status page.

**Describe the solution you'd like**
Under Message Date Range,
Add Publish Date Range. Only between this timerange the message should be visible.

**Describe alternatives you've considered**
Creating a form outside statp

[2019-11-11 11:24] teunis90 opened #276 "Add external command to Service Types"
There are a few things which I would like to monitor which require more logic then a basic HTTP call or TCP/UDP/ICMP check.

It would be nice if we can call a local script/bin like Nagios or Icinga does. Based on the error code we would determine if the check has passed and the stdout format will return the latency.

Format:
* exit code: `0` (up), `1` (down)
* stdout: `12.987ms|debug output`

Debu

[2019-11-11 21:27] NRay7882 commented on #274
My assumption would be that this broke once the "Verify SSL" option was added to the Service page, seeing as the column count would now be greater than 16.

[2019-11-14 14:44] mlintern opened #278 "Deleting a Group that a Service belongs to will cause rendering issues on dashboard and status pages."
**Describe the bug**

If you delete a Group that has Services associated with it there ends up being services that point to a group that does not exist.   This causes an error when trying to load the dashboards and the services page does not fully load.  I loads most of the first service, but stops when it gets to the group column and then nothing else is rendered.

**To Reproduce**
Steps to repro

[2019-11-16 03:08] knsrky commented on #274
same issue. any changes?

[2019-11-17 13:10] Zurina opened #279 "make dev-deps fails"
Go version: go1.13.1 linux/amd64

**Describe the bug**
The project relies on the dependency 99designs/gqlgen which relies on urfave/cli that currently has a bug in it. So when ''make dev-deps'' runs, it errors. Link to git issue: https://github.com/urfave/cli/issues/925

**To Reproduce**
Steps to reproduce the behavior:
1. git clone the project
2. make sure you dont have any local versions of the

[2019-11-18 03:49] knsrky commented on #265
same issue... :(

[2019-11-19 13:19] danmed opened #280 "Dashboard not reflecting Pingtime or Average Response"
**Describe the bug**
The dashboard is not reflecting the Ping Time or Average Response time for any of my services.

**To Reproduce**
If i click in to a service, they look OK, but on the dashboard, everything is just "0"

**Expected behavior**
i would expect the data to be in line with the data within the service themselves.

**Screenshots**

![image](https://user-images.githubusercontent.com/3878

[2019-11-19 20:36] hunterlong commented on #280
hey @danmed , this seems to be a timestamp issue.

- What database are you using?
- What timezone are you in?
- How long have the services been in the database before taking a screenshot?

[2019-11-19 20:56] hunterlong commented on #279
hey @Zurina , which version of Golang are you on? I'm on version `go1.13.1 darwin/amd64` and couldn't recreate this issue.

[2019-11-19 21:00] Zurina commented on #279
Hey @hunterlong, thanks for answering! I'm running the same Golang version as you. Did you also delete your existing versions of 99designs/gqlgen & urfave/cli ( if you have them ) ?

[2019-11-19 21:12] danmed commented on #280
Hi, I'm running mariadb, in in the UK and I've just checked and it's still
the same.. so that's been atleast 8 hours

On Tue, 19 Nov 2019, 20:36 Hunter Long, <notifications@github.com> wrote:

[2019-11-20 03:05] BrightCandle opened #281 "UDP Service check is passing when it shouldn't and showing HTTP service form"
When setting service type to monitor I see an application endpoint URL and TCP Port along with the usual settings. However when clicking away and then returning to the service to edit it I see the HTTP Service tests such as Service check type, HTTP headers, regex and status code. This does not happen on the TCP service test. The service also passes automatically and appears up when it isn't. Time

[2019-11-20 10:14] teunis90 commented on #276
@hunterlong when you have time, please have a look at this. We would like to develop this, but also like to avoid running on a fork.

Thanks!

[2019-11-20 14:37] azah opened #282 "discord webhook error: incorrect discord url"
When I try to input a discord webhook url, I get this error:
[code]
the url is this format:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. I'm using version: 0.80.65
2. I went to Settings > Discord
3. Press this button: 'Test Notifier'

**Expected Behavior**
The webhook url should've worked.

[![Gitter](https://img.shields.io/gitter/room/nwjs/nw.js.svg)](https://gitter.im/statup-app/

[2019-11-20 14:43] azah opened #283 "email notifier error: too many colons in address"
**Describe the bug**
I entered information for the email notifier, but the address ends up being formatted like this: (notice the extra colon on the end)
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. I'm using version: 0.80.65
2. I went to Settings > Email
3. Press this button: 'Test Notifier'

**Expected Behavior**
I expected the email test to work.

[![Gitter](https://img.shields.

[2019-11-20 14:51] azah opened #284 "command notifier doesn't work correctly for curl"
**Describe the bug**
I'm running this Command:
[code]
When I click 'test notifier', it -immediately- says 'the command notifier is working correctly', but I never receive my notification. This curl command works locally on my system.

**To Reproduce**
Steps to reproduce the behavior:
1. I'm using version: 0.80.65
2. I went to Settings > Command
3. Press this button: 'Test Notifier'

**Expected Beh

[2019-11-21 15:04] TheChiefMeat opened #285 "Raspberry Pi / arm Image?"
Is there any way to get the current docker image to work on a Raspberry Pi? I've tried both pulling the latest image, as well as building the image from source, but from source I get:

[code]

[2019-11-21 15:56] cbrody opened #286 "Add SSL to EC2 instance"
Hi, I've created a copy of the AWS EC2 AMI (eu-central-1 ami-06e252d6d8b0c2f1f) and have got statping running in a different AWS region, but can't figure out how to add SSL to the instance. There is no docker-compose.yml that I can find, and the image doesn't seem to include nginx or apache servers. I'm happy installing nginx, certbot etc. but wondered what the recommended method would be. Thanks!

[2019-11-21 18:38] ParitoshBh commented on #236
I am using sqlite with version 0.80.65 and facing the same issue.

[2019-11-21 21:22] Kaan88 commented on #77
What's the point of export.json?

[2019-11-21 21:46] Kaan88 opened #287 "Bulk import csv is broken"
**Describe the bug**
Bulk import csv is broken, maybe has to do something with sqlite backend.

**To Reproduce**
I've tried to make a csv file and it kept failing. Then I tried to use the example file and it still failed.

`ERROR: issue with row 0: does not have the expected amount of 16 columns for a service`

[![Gitter](https://img.shields.io/gitter/room/nwjs/nw.js.svg)](https://gitter.im/statup

[2019-11-21 21:54] Kaan88 commented on #77
What's the point of export.json?

[2019-11-21 23:56] rssfed23 commented on #281
I'm also experiencing the same behaviour - taking down my UDP services doesn't result in a failure and we still get "successful response" in the logs
TCP services however fail okay

[2019-11-22 02:26] FanyangMengDev opened #288 "Error: EOF. SMTP doesn't work after installed"
**Describe the bug**
Hi there,
After I installed Statping, and set the SMTP correctly, when I click on the 'test notifier' button, it alwayd displays as loading status. I do not get any error messages or success messages. When I switch the page to logs, it still does not have anything about SMTP. I can assure you that my SMTP configuration is correct. Could you please help me have a check on this

[2019-11-22 02:37] FanyangMengDev commented on #288
just got an error message:gomail: could not send email 1: read tcp MYIP:55548->74.125.20.28:587: read: connection reset by peer

[2019-11-22 08:59] FanyangMengDev commented on #288
after change the port to 465 it displays EOF after I click on the test notifier button.
Could you please help to fix it?

[2019-11-22 09:00] FanyangMengDev commented on #288
![IMG_20191122_170030](https://user-images.githubusercontent.com/53750381/69412334-9f068600-0d49-11ea-9c1d-6b0e010d440b.jpg)

[2019-11-22 13:57] cruscio opened #289 "Support for mTLS authentication of service endpoints"
**What would you like on Statping?**

Ability to specify client certificate/key and server CA certificate for monitoring of endpoints that require mTLS

**Describe the solution you'd like**

When configuring an HTTP or TCP endpoint, there would be fields to optionally provide

* Client certificate
* Client key
* CA chain for server trust (to support self-signed CAs)

This could be implemented with

[2019-11-22 23:22] rssfed23 commented on #189
@caiohasouza fancy sharing your grafana dashboard? - the one from grafana.com/the wiki here isn't working for me and yours looks more suitable for my needs

[2019-11-22 23:28] rssfed23 opened #290 "Grafana dashboard not working despite data being in Prometheus"
**Describe the bug**
Grafana dashboard not working despite data being in Prometheus

**To Reproduce**
Steps to reproduce the behavior:
Set up prometheus to scrape the /metrics endpoint
Verify that data is going into the Prometheus database with the Prometheus web UI
![image](https://user-images.githubusercontent.com/12484127/69467421-c11afb00-0d7f-11ea-89be-a1894733adc6.png)

Import the grafana da

[2019-11-22 23:42] rssfed23 commented on #290
Turns out there were references to "statup" in the dashboard json.
Once I did a find and replace all from "statup" to "statping" the dashboard is now functioning normally.
Thanks for all your hard work :)! - For anyone else that comes across this here is the updated json that works beautifully for me:
[code]

[2019-11-22 23:42] #290 closed

[2019-11-23 05:39] lhanson commented on #16
Ideally one would be able to declaratively configure services at startup and then `statping` would store the data in whatever database backend is in use. Unless I'm missing something, the only way I see to spin up a fully-configured instance of `statping` is to provision the infrastructure and then manually click around the interface setting up services.

I want to be able to be able to fully decl

[2019-11-23 08:52] kharazi opened #291 "Sending empty body in webhook"
## Important Details

## Description
I want to send notification to Mattemost using [incoming hooks](https://docs.mattermost.com/developer/webhooks-incoming.html) but after the configuration, clicking on Test button will send empty body

[code]

## Steps to Reproduce

1. Go to the stating settings and fill the form

![webhook](https://user-images.githubusercontent.com/1734380/69476124-0e808200-0de

[2019-11-23 13:49] GhaziTriki opened #292 "Send a request with only the HTTP HEAD"

[2019-11-24 09:24] cfvescovo opened #294 "Statping not working on Heroku"
**Describe the bug**
I deployed statping to Heroku using the 'Deploy to Heroku' button. When I checked the logs after an unsuccessful attempt to load the page, I saw this: `<timestamp> heroku[router]: at=error code=H14 desc="No web processes running"`

**Expected Behavior**
Statping web page should load

[2019-11-25 10:12] caiohasouza commented on #189
@rssfed23 sure! (https://gitlab.com/ganex-cloud/grafana-dashboards/blob/master/others/statping.json).

[2019-11-25 14:05] crossworth commented on #282
Try save the url first than press the Test Notifier button.

[2019-11-25 14:18] crossworth commented on #281
The problem is the way that UDP works, most of the cases you cannot know if the port is open, filtered/closed.

Thats the reason that most of port scanner dont work well with UDP.

I was playing with testing UDP services and found that the only reliable way to test is sending or receiving data from the UDP connection and checking if the data is correct.

Some people assume that if you can send or

[2019-11-25 18:26] okainov opened #295 "Add possibility to run on custom URL"
**Describe the bug**
I'd like to have statping running in Docker on `myserver.com/statping`. When I set the URL in settings, it still has no effect and website tries to load static from `myserver.com` directly.
Neither script respects `SCRIPT_NAME` header/variable coming from proxying nginx.

Please make the tool working on custom URLs

[2019-11-26 08:29] okainov opened #296 "Exact failure time is missing"
**Describe the bug**
Currently failures datetime is displayed only in relative format, i.e. `9 hours ago`. Typical UX practice here is to show exact date on mouse hover in a tooltip. However it's missing now. Please add possibility to see exact time.

![image](https://user-images.githubusercontent.com/918446/69612000-32cca080-102f-11ea-9f3e-b8b2919661c7.png)

[![Gitter](https://img.shields.io/gitt

[2019-11-26 08:34] okainov opened #297 "Help formatting is not correct"
1. Open Help page
2. Check the formatting
3. Seems like it's either parsed incorrectly or the source Markdown(?) is not correct

![image](https://user-images.githubusercontent.com/918446/69612461-006f7300-1030-11ea-9f4e-5fd18b303114.png)

[2019-11-26 09:16] 1katoda commented on #203
Hello,

would you accept a pull requests for incident management, can I contribute to it in any way? Or are you already well into the tasks and are set on completing them? I only ask because the issue has been opened quite a few months ago.

Best regards

[2019-11-26 22:06] wessel145 commented on #207
Just installed statping (docker + mariadb), also having this issue

[2019-11-27 03:01] lynncyrin commented on #279
@Zurina @hunterlong hey both, the issue you've linked (https://github.com/urfave/cli/issues/925) doesn't describe a bug, and I'm not currently tracking any active bugs.

The root cause of https://github.com/urfave/cli/issues/925 was that people are using our package straight from `master`, and looking at your screenshot 👀 it looks like that's your problem too. Go through to links in this issue htt

[2019-11-27 09:36] okainov opened #298 "Indicate failures on the graph"
**What would you like on Statping?**
Graphs should show not only response time but the last failures as well.

Example, current look:
![image](https://user-images.githubusercontent.com/918446/69710728-32e8a100-1100-11ea-9e7b-7581ccdd7fd8.png)

There were some failures during 1 hour, but it's not shown on the graph.

**Describe the solution you'd like**
Option 1 (preferable, I think it looks better

[2019-11-27 09:49] okainov opened #299 ""Test email notifier" button doesn't work without save"
**Describe the bug**
- Go to settings - email notifications
- Enter valid host, port and email addresses
- Click "Test notifier"
- Make sure error about "Cannot connect tcp:0" or something like that appears

Clicking "Save" and then "Test" works. However, isn't that the purpose of "Test" button - to test your changes *before* saving them?

[![Gitter](https://img.shields.io/gitter/room/nwjs/nw.js.s

[2019-11-27 09:57] okainov opened #300 "Email notifications cannot be more seldom than 1 per minute"
One cannot set email intervals less than 1 per minute. What about "once per 10 minutes" or so?

[2019-11-27 09:58] okainov opened #301 ""Send Updates only" checkbox is not clear"
I had the same issue as #210, #148 and #81 and only looking thru the code of PR #258 actually helped me to understand that the logic is here.

IMO checkbox on the main settings page "Send Updates only" is very not intuitive and doesn't give any clue what it does.

Several proposals how to improve:
- Add some kind of hint describing what it does, like "If enabled, notifications will be only send on

[2019-11-27 10:01] okainov opened #302 "Cannot enter several email to send notifications to"
1. Go to email notification settings
2. Try to put several email addresses in "To" field, like `main.guy@domain.com;backup.guy@domain.com`
3. Click Save
4. Make sure error appears

Please allow to send emails no more than one person

[2019-11-27 13:58] okainov opened #303 "Add links to the services to the main page"
**What would you like on Statping?**
So that I have a possibility to go to a service URL directly from the main page

**Describe the solution you'd like**

Something like that
![image](https://user-images.githubusercontent.com/918446/69729278-53c3ed00-1126-11ea-8597-ca907dc10179.png)

[2019-11-27 14:04] gamefundas opened #304 "Consul health check integration"
Consul does health checks for all service registration in a cluster and has a dashboard that shows the current health status of all services. However there is no historical context to health failures and to overcome this one of the things I have been doing is manually setting up all the health URL's in statping to track failures.

If only there was a Statping -> Consul integration all these health

[2019-11-27 14:52] l0nax commented on #301
@hunterlong can you please assign me to this Issue?
I'm currently working on a better integration of this Feature and since this is a simple Change I would it also target in my work.

[2019-11-27 21:52] GhaziTriki opened #305 "delete_failures redirects to a json response page"

[2019-11-28 08:48] okainov opened #306 "Time calculation is not correct when "Send only on updates" is on"
**Describe the bug**

0. Enable email notifications
1. Enable "Send notifications only on updates"
2. Make one service down for 5 min
3. Make sure you've got two emails with 5 min difference, however the title of the second email is `<servicename> has been offline for 0s`

Check the text of the email, it seems like time used is wrong `Your service was reported online at 2019-11-25 18:28:26.3725320

[2019-11-28 10:58] l0nax commented on #306
I know about that Issue the Problem is that the Code – which is responsible for calculating the Downtime (not developed by me) must be completely re-written.

I'm currently working on another PR which targets also this Issue.

But anyway thanks for your Issue so it can be kept track of it @okainov!

[2019-11-28 12:47] codeagencybe opened #307 "Webhook as notification option per service?"
**What would you like on Statping?**
Set a specific webhook per service.

**Describe the solution you'd like**
If service A goes down, I want person A to be notified but also trigger a specific webhook to 3rd party service.
In the demo I see it is 1 webhook global for everything.
In my use case, I want to trigger a webhook that auto-restarts a Docker container service. But obviously this should no

[2019-11-28 20:35] l0nax commented on #306
@hunterlong can you please assign me to this issue?

[2019-11-28 21:37] l0nax commented on #306
@okainov The Commit https://github.com/l0nax/statping/commit/b75ae61de2e28a79fc6786be04e37af2e596be47 adds an sub-text under the Button, would something like this be okay?

![Download](https://user-images.githubusercontent.com/29659953/69832620-af2dd200-122f-11ea-9afa-1d59e1dbebe4.png)

[2019-11-28 21:47] l0nax commented on #301
It makes sense for me to have this switch per Notification Service, why would you like to receive (eg. if your check interval is set to 1min) every _1 min_ an Email but only a Slack Notification if the status of the service has been changed?

The Commit https://github.com/l0nax/statping/commit/b75ae61de2e28a79fc6786be04e37af2e596be47 adds a sub-text under the Button, would something like this be o

[2019-11-28 23:01] l0nax commented on #306
This has been fixed with Commit https://github.com/l0nax/statping/commit/c1f4ee865afd2877d1855956951373bebf0e51e0.

Here the – now – correct Downtime Text in the Web UI:
![screenshot-localhost_8080-2019 11 28-23_46_15](https://user-images.githubusercontent.com/29659953/69834479-f1a8dc00-123a-11ea-9d22-f4bb62141503.png)

And here a Screenshot how it would look like in Telegram (sorry that I had to

[2019-11-28 23:05] l0nax commented on #301
Done with Commit https://github.com/l0nax/statping/commit/c920456b9f57d154d51d54477d7b8e735546afda

[2019-11-29 08:38] okainov commented on #306
I just wonder, does it handle multiple failures per day properly? I.e. if I had 5 minutes and 7 minutes downtimes during the day, will it display "12 minutes"?

[2019-11-29 10:02] l0nax commented on #306
No, first of all as you can see in File [`tmpl/service.gohtml` in Line 79 to 81](https://github.com/hunterlong/statping/blob/c920456b9f57d154d51d54477d7b8e735546afda/source/tmpl/service.gohtml#L79-L81) the _Downtime Text_ will only apear on the ervice side if the service is currently down:
[code]

The calculation for the downtime does _not_ sum all the "down" minutes of a day up, it returns/ shows

[2019-11-29 10:24] okainov commented on #301
Having different settings per notification provider is indeed questionable.

Maybe it can be still only one option which is shared across all notification, but the idea is that when I want to enable notifications, I go to "Notifications" settings and user can be a bit confused if this option (which makes sense only for notifications) is not present there.

Looks fine from my side (though I'm not s

[2019-11-29 15:30] aliyildiz opened #309 "Default user is not created with MySQL"
**Describe the bug**
I use Aurora MySQL cluster and statping doesn't work with Aurora MySQL. When I open dashboard I can not login admin:admin. I logged in DB and I saw that the user table was empty and other table was created.
MySQL Aurora version : 5.7.12

**To Reproduce**
Steps to reproduce the behavior:
1. I'm using version: 'v0.80.65'
2. Fresh installation with Docker.

**Expected Behavior**

[2019-11-30 18:36] Kaan88 opened #310 "Mobile app and metrics latency does not match with web page"
Everything is working fine except the mobile app and the metrics page. Screenshots should explain it better,

![image](https://user-images.githubusercontent.com/1260152/69904583-f0052280-13b8-11ea-88a7-282b595e69ad.png)
![image](https://user-images.githubusercontent.com/1260152/69904691-7c641500-13ba-11ea-9ac7-08610ad947ac.png)

![image](https://user-images.githubusercontent.com/1260152/69904594-1

[2019-12-01 14:38] gamefundas opened #311 "[Feature] Support warning health status"
This is such a great tool. We have recently started using it for our microservices. One of the things that can be extremely useful is if there is someway Statping can recognize and show other form of statuses in the charts.

Perhaps simply put show the chart in orange in case of a warning (specific http code or another regex for warning) response. This can prove to be very useful where some of our

[2019-12-01 14:48] gamefundas commented on #298
I must say this will be very helpful and has been discussed in other threads here. #214 for instance. Like option 3, it’s not intrusive and at the same time shows the failures. This will however get rid of the full red chart in case of outage, which should be fine I guess since the idea is to show a composite graph which includes both statuses.

[2019-12-02 18:54] joshghent commented on #75
I get this same issue, any ideas?

[2019-12-03 12:53] cbrody commented on #263
Agreed, and also be able to see the outages on the same graph as the response time.

[2019-12-03 13:39] mingal commented on #287
i also have this issue. Anyone has a solution on that ?

[2019-12-03 20:49] amirbagh75 opened #312 "Demo site return 502"
502 Bad Gateway
nginx/1.14.1

[2019-12-03 21:50] GhaziTriki opened #313 "A better display for time in messages"
I just got a message on telegram `... has been offline for 40.772252ms`. Could this display be improved?

[2019-12-04 02:18] NRay7882 commented on #287
Duplicate issue, please add details to https://github.com/hunterlong/statping/issues/274

[2019-12-04 04:59] NRay7882 commented on #274
So here's my findings so far:

Versions earlier than v0.80.65 worked because the configs still had 16 columns of data per service. This changed in the latest build when `verify_ssl` was added. Here's an example of a service configured for Datadog's ongoing incident page in v0.80.63:

[code]

And here's the response from the API for the same service on v0.80.65:

[code]

The reference to this valid

[2019-12-04 16:42] jimmycasey opened #314 "Email notification not working"
**Describe the bug**
0.80.65

SMTP setup seems to work:
2019-12-04 15:55:58: Notification email is receiving updated information.
and I can receive the test email fine but when I offline/online a service I don't get any notification or errors in the log.

2019-12-04 16:40:55: Service testing Failing: HTTP Error Get blahblahblah:4009/: dial tcp 141.137.233.209:4009: connect: connection refused | Lo

[2019-12-05 17:56] SteveEdson opened #316 "Admin url?"
I'm pretty sure I'm being stupid here, but whats the url to get to the admin / settings area? I can't see any login buttons, or mentions of this in the docs anywhere? I had the initial setup page, but then the browser hung so I'm not sure if I've just missed it on the next page or something?

I've tried /admin /setup /dashboard etc, no luck.

[2019-12-05 17:56] #316 closed

[2019-12-06 15:58] skyeportal commented on #236
Also having this issue, any ideas what causes this

[2019-12-06 16:46] joshghent commented on #75
Update: I got this working by adding `link: postgres` to the statup web container docker-compose. I also put them both on `network_mode: bridge`. Hope that helps anyone down the line. I was using this setup with the nginx-proxy and lets-encrypt companion.

After I added these two parameters I completely removed the volumes `docker volume prune` and removed their networks `docker network prune`. An

[2019-12-06 18:03] #287 closed

[2019-12-06 20:36] Kaan88 opened #317 "High CPU usage with Docker image"
I am using a micro ec2 instance and noticed that my cpu credits had ran out on the instance and was getting constant cpu steal. This also affected ping time measurements.

Here is a grafana chart after cpu credits ran out,
![image](https://user-images.githubusercontent.com/1260152/70354497-bb91da80-1880-11ea-9ebe-01ad14fb5ff8.png)

This issue doesn't seem to happen with the binary release with the

[2019-12-06 21:54] Kaan88 commented on #317
The problem is the healthcheck in Dockerfile.

[2019-12-07 07:42] iandk commented on #225
Same issue here

[2019-12-07 07:54] iandk opened #318 "IMCP ping not working"
**Describe the bug**
When adding an ICMP taget the status doesn't change to offline when the server goes offline.

**To Reproduce**
Steps to reproduce the behavior:
1. I'm using version: Statping 0.80.65
Added new ICMP service, 10s checks, 15s timeout

**Expected Behavior**
The status should change to offline.

[![Gitter](https://img.shields.io/gitter/room/nwjs/nw.js.svg)](https://gitter.im/statup

[2019-12-07 15:47] SebastianStehle opened #319 "RSS feed and user subscriptions"
**What would you like on Statping?**
I would like to have a RSS feed for all services together and one per service with one item for every status change.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
Write a custom status feed or just email subscriptions.

**Is your feature request related to a problem

[2019-12-08 10:26] iandk commented on #314
Same issue

[2019-12-08 12:52] iandk commented on #314
Any feedback on this @hunterlong ?

[2019-12-09 12:55] B4TT3RY opened #320 "standard_init_linux.go:211: exec user process caused "exec format error""
**Describe the bug**
[code]

**To Reproduce**
Version: latest
OS: Ubuntu 18.04 LTS arm64
`docker run -d -p 8080:8080 -v /root/statping:/app --restart always hunterlong/statping`

**Expected Behavior**
join statping page

[![Gitter](https://img.shields.io/gitter/room/nwjs/nw.js.svg)](https://gitter.im/statup-app/general) [![GitHub release](https://img.shields.io/github/release/hunterlong/statup.svg

[2019-12-10 15:14] N0rimaki commented on #318
ha... have the same Issues.. setting up 50 Services with ICMP and bam! nothing happens.
Version 0.80.65 running on Windows 2008 R2 Server

[2019-12-10 16:43] GhaziTriki commented on #223
This feature is a must-have. statping is generating a lot of false positives. I have around 50 server to monitor and it is not helping me knowing the true positives.

[2019-12-11 07:21] #291 closed

[2019-12-11 07:25] kharazi opened #321 "Notifiers does not works (SMTP and webhook)"
**Describe the bug**
Test notifications for Email and Webhook works for me but when the service is down, I don't receive any notification from email or receiving webhook. I don't see any log in the docker-compose log file about notification or trying to send when the service is down.
`Version: v0.80.64`

the notification option is on in our services:

![notification](https://user-images.githubuser

[2019-12-11 08:05] kharazi commented on #321
on `v0.80.65` i have same problem

[2019-12-11 09:07] kharazi commented on #314
Same

[2019-12-11 09:43] #309 closed

[2019-12-11 15:32] N0rimaki commented on #225
i use the standalone Windowsversion and have the same Issue. dont't think it depends on Docker.

[2019-12-11 18:31] jimmybrancaccio commented on #222
I seem to be having this issue as well. It throws:

[code]

[2019-12-12 23:16] Karatekid2407 commented on #124
Can also help with german translation

[2019-12-13 08:15] okainov opened #322 "Group services by Group in settings"
**What would you like on Statping?**
Currently all the services in settings are displayed in one big list. It's not really convenient as number of services grows (we have ~20 now)

**Describe the solution you'd like**
Add grouping by group to "Services" page and make the whole group drag-n-drop'able

[![Gitter](https://img.shields.io/gitter/room/nwjs/nw.js.svg)](https://gitter.im/statup-app/genera

[2019-12-13 16:22] cherlick opened #323 "Automatic setup and error {"status":"error","error":"not authorized"}."
I'm in need of help. Im trying to deploy statping using docker, is there any possibility to do the setup os the page automatically? With the DB and the admin user already setup and the config.yaml ?

I try passing the config.yam in the dockerfile but when trying to create the admin using the api I get {"status":"error","error":"not authorized"}.
Any idea what I can do?

[2019-12-13 16:41] #270 closed

[2019-12-13 16:43] #301 closed

[2019-12-14 16:16] sureshamk commented on #316
is this app has admin interface ?

[2019-12-14 16:18] sureshamk commented on #316
I found `/dashboard `

[2019-12-17 20:10] hunterlong commented on #323
To run the setup process automatically, you'll need to set the DB_CONN environment variable. Checkout the docs on this on the [.env config](https://github.com/hunterlong/statping/wiki/Config-with-.env-File) wiki page.

[2019-12-18 00:56] #320 closed

[2019-12-18 04:06] victorhooi opened #325 "Possible to monitor private hosts?"
We have a few Proxmox VM clusters in various locations around the world. Each of these is behind a pfSense firewall box, which also does NAT-ing (so the VM hosts aren't accessible from the public internet).

Is there some way of still using this project to monitor their status,  possibly we could have a jumpbox in each cluster, which pushed status updates to the server-status service, and then if

[2019-12-20 14:26] wauwturrr opened #326 "Statping with Docker & Traefik as Reverse Proxy not showing averages."
**Describe the bug**
Since i've setup statping with Traefik as my reverse proxy, it looks like the averages arent showing/being generated

Example via: https://uptime.woutr.io/service/rijschool-eddy-graver

[![Gitter](https://img.shields.io/gitter/room/nwjs/nw.js.svg)](https://gitter.im/statup-app/general) [![GitHub release](https://img.shields.io/github/release/hunterlong/statup.svg)](https://git

[2019-12-20 15:41] botzill opened #327 "Enable ssl for postgress DB"
Hi.

Is it possible to add ssl option when connecting to postgres DB?

[2019-12-20 15:51] botzill commented on #327
OK, fixed by settings `POSTGRES_SSLMODE`

[2019-12-20 15:51] #327 closed

[2019-12-20 15:56] #326 closed

[2019-12-20 15:59] botzill opened #328 "pq: relation "core" does not exist"
I get this error when I initially setup a fresh install and trying to configure a PG database.

[2019-12-20 17:44] botzill commented on #328
After resetting the DB and trying again seems to work OK.

[2019-12-20 17:44] #328 closed

[2019-12-21 19:14] afield1235 commented on #276
Agreed, it's one thing to ping a DNS server and then check the TCP/UDP port. But I'd also like to do a DIG command to ensure the DNS server is also properly returning records. If we can't troubleshoot the entire service stack we'll run into a false sense of uptime.

[2019-12-21 19:16] afield1235 commented on #228
This is another option that would be helpful. If 3 of the 5 check fails, then marked it failed. A single failure is not enough to make a proper determination.

[2019-12-24 05:03] adamsewell opened #331 "services area not showing in v0.80.66"
I was setting up a new instance of statping with v0.80.66 and I noticed that there was no area to setup the services. I downgraded to v0.80.65 and the area showed up again.

[2019-12-26 10:32] zackijack opened #332 "Is this stateful? Cause always has intermittently logged in user when deploying it on multiple servers"
**Describe the bug**
When deploying it to multiple servers (e.g. on Kubernetes), the login session does not persist.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '/dashboard'
2. Logging in
3. Sometimes when you are directed to a server that is different from the server where you are logged in, you will be redirected to the login page again.

**Expected behavior**
It can be stateless

[2019-12-27 10:14] yumitsu commented on #331
I can confirm this. After clean install (linux/sqlite) there is no 'Add service' button if you doesn't populate DB with sample data on setup.

[2019-12-27 17:44] hunterlong commented on #331
<img width="822" alt="Screen Shot 2019-12-27 at 9 43 23 AM" src="https://user-images.githubusercontent.com/7519499/71526808-5f254800-288d-11ea-8835-fb3c8114a9af.png">

Hmm.. I'm seeing the Create button. I'll look more into this.

[2019-12-27 18:41] yumitsu commented on #331
@hunterlong I will try to repeat this on another machine and come back with some logs (if there will be any).

[2019-12-28 14:02] lucacalcaterra commented on #285
same issue for me.
Latest commits, error on building docker image with error:

sass source/scss/base.scss source/css/base.css
/bin/sh: can't open 'sass': No such file or directory
make: *** [Makefile:98: compile] Error 2

[2019-12-29 20:36] derekslenk opened #333 "The us-east-2 ec2 image is not based on Ubuntu, instructions are"
**Describe the bug**
The instructions for AWS EC2 https://github.com/hunterlong/statping/wiki/AWS-EC2 give instructions and an ec2-ssl.sh script for an Ubuntu based image. The image (in us-east-2) is Amazon Linux 2, making the ec2-ssl.sh invalid.

**To Reproduce**
Steps to reproduce the behavior:
1. Follow steps to build instance in us-east-2
2. Wait 30 minuites
3. View the system logs and see tha

[2019-12-29 22:50] Koma-Andrea opened #334 "import routes from traefik"
**What would you like on Statping?**
I would like to import routes from traefik

**Describe the solution you'd like**
Traefik has already API to list endpoints/routers

**Describe alternatives you've considered**
Adding  manually.. it sucks

**Is your feature request related to a problem? Please describe.**
I hate writing repetitive tasks

[![Gitter](https://img.shields.io/gitter/room/nwjs/nw.js.s

[2020-01-01 20:44] #312 closed

[2020-01-01 20:47] AndreasTheDead opened #336 "Single Shown Failure for one Failure."
Hey, Happy New years first of all.

**What would you like on Statping?**
I would like a feature that shows a failure only as a single failur and not as the number of times the check has failed. So thats an offline time of 17 hours are not 875 failures but only one.
It could show something like one failure with a lenght of 8hours.

**Describe the solution you'd like**
A selection of which functiona

[2020-01-02 06:35] hunterlong commented on #331
It's been fixed on latest version. ✅

[2020-01-02 06:35] #331 closed

[2020-01-02 06:58] #317 closed

[2020-01-02 13:55] niksfirefly commented on #124
Can I help with polish translation?

[2020-01-02 15:57] GregTheGreek opened #337 "Site wide password protection"
**What would you like on Statping?**
Sitewirde password protection.

**Describe the solution you'd like**
It would be great if this page could have an option to be password protected (or auth'd) by default. That would mean that you could not see any statistics without authentication.

**Describe alternatives you've considered**
none.

**Is your feature request related to a problem? Please describe

[2020-01-02 20:13] hunterlong commented on #337
I’ll include this on the next release.

[2020-01-02 22:24] NRay7882 opened #338 "Send Update Notifications Only Option Broken"
**Describe the bug**
Using v0.80.67, one of the new features in Main Settings is Notifications. Attempting to use this module by enabling it breaks the default configuration and leaves the feature disabled.

**To Reproduce**
Steps to reproduce the behavior:
1. From the Statping instance, open the Settings > Main Settings > Notifications page, URL ending in `/settings#v-pills-notifications`.
2. Mov

[2020-01-03 08:01] hunterlong commented on #334
hey @Koma-Andrea , is there anyway you can email or post your JSON responses from the following URL's?

- `/api/http/services`
- `/api/tcp/services`

Been working on [integrations for Traefik](https://github.com/hunterlong/statping/blob/integrations/core/integrations/traefik.go), Docker containers, and CSV files, but I'm honestly tired of dealing with Traefik configs for testing. It's a pain. Emai

[2020-01-03 17:57] maxkratz commented on #338
@NRay7882 I can absolutely understand the behaviour. This also happens with my installation. I also tried a fresh install to eliminate config errors.

[2020-01-03 21:44] thedmeyer commented on #274
https://github.com/hunterlong/statping/blob/83ad6ab6db4f44aa452bf4522be6cf29eb917ef1/handlers/settings.go#L175

@NRay7882 The issue seems to be caused by this line attempting to parse the carriage return as part of the bool.

[2020-01-03 21:50] thedmeyer commented on #274
ALSO -- the "correct" order of headers is:
`name,domain,expected,expected_status,interval,type,method,post_data,port,timeout,order_id,allow_notifications,public,group_id,headers,permalink,verify_ssl`

[2020-01-03 22:40] thedmeyer commented on #274
My temporary fix to bulk import is to direct connect to the SQL db and insert the CSV in this fashion for each:

The headers need to be renamed.
`name,domain,expected,expected_status,check_interval,check_type,method,post_data,port,timeout,order_id,allow_notifications,public,group_id,headers,permalink,verify_ssl`

I used this tool:
https://www.convertcsv.com/csv-to-sql.htm

[code]

[2020-01-04 03:37] taylorcoffelt commented on #95
The app is telling me to "check the domain", no matter what instance I point it to. (Tried my own instance, as well as the provided demo one that the app suggests)

Android 10

[2020-01-05 01:11] ARMmaster17 opened #339 "Unable to create services"
**Describe the bug**
On a fresh install of v0.80.67 on Debian 9 using MariaDB as the database, I am unable to create any services. Upon clicking "submit" Statping returns a JSON page with the text: `{"status":"error","error":"invalid character 'a' in literal null (expecting 'u')"}}`
The log outputs don't tell much more of the story:
[code]

Looking farther up in the logs, firewall blocking databas

[2020-01-05 11:43] hanspe commented on #124
Let me help with danish.

[2020-01-05 11:44] hanspe commented on #95
I have the same issue as shown above

[2020-01-05 19:22] thedmeyer commented on #311
An orange tag with the status `DEGRADED` is what comes to mind.

[2020-01-06 04:04] ortizdr opened #340 "Base URL Change for Reverse Proxy"
I am running an Nginx reverse proxy and I cannot get statping to work on any other path other then "/".
Problem is, i have a website running there. Any chance to get an option or anyone know a workaround that is actually working. I have tried all the samples out there to no success.

Thanks!

[2020-01-06 06:32] muratkarakas commented on #340
I have the same problem  in kubernetes it is similar to this issue https://github.com/hunterlong/statping/issues/167

[2020-01-06 07:56] b1f17773 opened #341 "Issue with installation on CentOS 7"
**Describe the bug**
I can't install statping on CentOS.

**To Reproduce**
Steps to reproduce the behavior:
1. I used command from installation guide on main github page
2. After i pasted this command in to my CLI, i received error from line 110, which is basically saing that there is no command

**Expected behavior**
I want to install staping on my machine

[![Gitter](https://img.shields.io/gitte

[2020-01-06 17:36] Koma-Andrea commented on #334
Check your mail

[2020-01-07 01:52] happiness9721 commented on #216
Same issue in 0.80.67

[2020-01-07 18:27] natelandau commented on #320
@B4TT3RY did you solve this?  I just ran in to the same error

[2020-01-07 20:36] PierrePaul commented on #95
Same for me. Seems to always return a 401. Regenerating the keys doesnt help. Also tried using the QR code just in case.

[2020-01-07 21:24] hunterlong commented on #95
I'll look into this today.

[2020-01-07 22:08] hunterlong commented on #341
oops, I saw the issue, it has been fixed. Try again,

[code]

[2020-01-07 22:08] #341 closed

[2020-01-07 22:11] hunterlong commented on #339
Wow. i got the same issue, I'll check it out.

[2020-01-07 23:45] hunterlong commented on #340
I'll check this out today.

[2020-01-08 04:02] B4TT3RY commented on #320
@natelandau No, I think it's because my CPU is aarch64. This problem sometimes occurs with other Docker images.

[2020-01-08 04:12] hunterlong commented on #340
I just setup a very minimal Statping instance behind the main nginx docker image, I'll look more into the base tag mentioned in issue #167 . Let me know if this nginx.conf and/or docker setup works for you. I was able to run Statping on port 80, with a nginx proxy_pass to port 8080. Let me know! :)

- [docker-compose-nginx.yml](https://github.com/hunterlong/statping/blob/master/dev/docker-compose-

[2020-01-08 07:48] muratkarakas commented on #340
With this setup welcome and setup page works, when you click dashboard link it redirects(I think nginx) to /dashboard/ which is not a valid page. Actual requirement is using path otherthen "/" as context path. Following setup seems to work for but this time dasboard link in bottom of the page is still  goes to /dasboard''  which is not handled in nginx.

http://localhost/statping/
[code]

[2020-01-08 11:56] tborozan commented on #95
Android app asks for API Secret but it needs the API Key (in the API Secret field) to connect properly.

[2020-01-08 14:18] FoxxMD commented on #204
Also looking for this control. I would like to be able to control whether history is displayed when viewing a service -- or maybe just a way to remove domain/host/IP information from history. Mentioning #240 since its the same thing

[2020-01-09 14:08] Zegorax commented on #95
I have the same problem as @PierrePaul

[2020-01-09 20:00] yumitsu commented on #204
@shootie22 Is there really a problem? Statping doesn't show any info on your service (e.g. IP/host/port) expect for its availability.

[2020-01-09 21:26] dodoflying opened #343 "Iphone App Incorrect Authentication"
**Describe the bug**
I scanned the QR code in the iPhone App, I always got Incorrect Authentication, double check your domain and login

**To Reproduce**
1. Download iPhone APP
2. Scan QR code and double check
3. Get error message

**Expected behavior**
Login Phone APP

[2020-01-09 21:32] FoxxMD commented on #204
@yumitsu It absolutely does though. Here's a "public" service on my server viewed incognito
![status](https://user-images.githubusercontent.com/4663766/72106562-99ff9500-32fd-11ea-92df-ff09527a7cc1.jpg)

[2020-01-09 23:25] nv30 commented on #343
Same here.

[2020-01-10 11:39] mrbiggmd commented on #343
Same issue for Android as well... incorrect authentication.   Web UI works great.

[2020-01-10 14:39] elvinu commented on #318
Same problem
Statping Version 0.80.67

From logs: Successful Response: 0.00 ms | Lookup in: 0.00 ms

How can it be successful with 0 ms 🤔?

[2020-01-10 16:39] zeeZ commented on #340
I seem to have this hack in a local nginx config, which seems to work as of now:
[code]

[2020-01-11 05:35] hunterlong commented on #343
Working on it

[2020-01-11 12:08] ymrsmns opened #344 "Many connect in Postgresql"
**Describe the bug**

I noticed that the connections to the database stopped closing. Initially, there were `100 max_connections`  in the postgresql settings. I tried to increase the value to 250, the problem resumed

I tried to upgrade to version v0.80.68, the problem resumed

I have checked 16 service GET\POST requests

Use postgresql version 10.11.0-centos-7

**Screenshots**

[code]

[code]

[c

[2020-01-12 21:12] somedevreally opened #345 "Gotify support?"
was wondering if there will be gotify notification support? or if it can be configured with webhooks?

[2020-01-12 22:41] ADRFranklin commented on #281
It would be really nice, if we could then specify a field for matching against a response, or even to compare the sizeof the bytes returned.

For example I run this for monitoring my gaming sites, and it would be great if I could also take advantage of this tool to show the status of my gaming servers. if we could specify the data to send as well as the data to match against, then this would be ex

[2020-01-13 00:33] jeffka11 commented on #345
I would like this too. I think it would work with webhooks, although we need an enhancement to Statping: only the body supports variable replacement ([source](https://github.com/hunterlong/statping/blob/bd4d004aaeb00942ea9728e35d3dfcb4bacee943/notifiers/webhook.go#L64)), although webhooks for gotify use headers for the message content ([source](https://gotify.net/docs/pushmsg)).

I thinks it's jus

[2020-01-13 02:55] FanyangMengDev commented on #338
Same issue happenes on me. I am using 0.80.69
@hunterlong Please have a check on this. Really weird.

[2020-01-13 03:08] hunterlong commented on #343
Ok, i've confirmed this issue has been resolved. ApiKey was being used even though API requires the API Secret. Scanning the QR code in Settings also works again. [Version 0.80.69](https://github.com/hunterlong/statping/releases/tag/v0.80.69)

[2020-01-13 03:08] #343 closed

[2020-01-13 03:14] hunterlong commented on #337
Alrighty, Statping now has HTTP Basic Auth, to use make sure the follow environment variables are set.
- `AUTH_USERNAME` - username for HTTP Basic Auth
- `AUTH_PASSWORD` - unencrypted password for user above

If both of these are set, then Statping will require HTTP Authentication on each request.

[2020-01-13 03:14] #337 closed

[2020-01-13 03:21] hunterlong commented on #332
Hey @zackijack , this login issue is probably the same for most applications running between servers. Have you checkout the [Kubernetes NGINX Sticky Session Docs](https://kubernetes.github.io/ingress-nginx/examples/affinity/cookie/)? Seems to be what you're looking for. Let me know!

You would want to make sure you are setting the `statping_auth` cookie into the configs, then you should be good!

[2020-01-13 03:21] #332 closed

[2020-01-13 04:41] hunterlong commented on #305
Hey @GhaziTriki , I just tested this and it doesn't seem to be happening anymore. I'm on [Version 0.80.69](https://github.com/hunterlong/statping/releases/tag/v0.80.69).

[2020-01-13 04:41] #305 closed

[2020-01-13 09:24] FanyangMengDev commented on #338
@hunterlong Hi there, I noted that you have already reply to many other issues which report later than this one. I really do not know why you ignore this issue.
Would you please give some feedback?

[2020-01-13 09:30] okainov commented on #167
Related #295

[2020-01-13 09:30] okainov commented on #340
Related #295

[2020-01-13 09:32] okainov commented on #340
The thing is that the service should be able to understand SCRIPT_NAME header and not ask user to specify "custom path" in settings! Please see how Django handles such things, it should work in a similar way.

[2020-01-13 09:33] okainov commented on #295
The thing is that the service should be able to understand SCRIPT_NAME header and not ask user to specify "custom path" in settings! Please see how Django handles such things, it should work in a similar way.

[2020-01-13 09:39] codeagencybe commented on #307
Any feedback please on this topic?

[2020-01-13 09:52] hunterlong commented on #340
Alright, I got it working in [Version 0.80.70](https://github.com/hunterlong/statping/releases/tag/v0.80.70). You can now set `BASE_PATH` as an environment variable to direct to the correct URL. 💃

### Example
- URL: `http://mydomain.com/monitor`
- `BASE_PATH` = `monitor`

[2020-01-13 09:52] #340 closed

[2020-01-13 09:52] hunterlong commented on #167
Alright, I got it working in [Version 0.80.70](https://github.com/hunterlong/statping/releases/tag/v0.80.70). You can now set `BASE_PATH` as an environment variable to direct to the correct URL. 💃

### Example
- URL: `http://mydomain.com/monitor`
- `BASE_PATH` = `monitor`

[2020-01-13 09:52] #167 closed

[2020-01-13 09:53] hunterlong commented on #344
I believe I might have fixed your issue in [Version 0.80.70](https://github.com/hunterlong/statping/releases/tag/v0.80.70). It will now have a maximum of 5 connections.

[2020-01-13 09:53] #344 closed

[2020-01-13 10:11] #323 closed

[2020-01-13 11:06] hunterlong commented on #318
I just tested ICMP ping with [Version 0.80.70](https://github.com/hunterlong/statping/releases/tag/v0.80.70) and it does seem to be working. You will need to run Statping as sudo or with super user privileges. (required for ICMP)

@elvinu , the logs could be more detailed. The ICMP ping time is probably around 20-50 microseconds, and rounding won't make a nice looking float for milliseconds.

[2020-01-13 11:06] #318 closed

[2020-01-13 11:10] hunterlong commented on #294
Running a Golang app on Heroku is a total mess. From what I remember, they don't allow persistent volumes for golang instances. Or something like that. Maybe one day I'll re-look into this.

[2020-01-13 11:10] #294 closed

[2020-01-13 11:13] hunterlong commented on #235
This was added a very long time ago. The database will delete records older than 3 months.
https://github.com/hunterlong/statping/blob/master/core/database.go#L279-L286

[2020-01-13 11:13] #235 closed

[2020-01-13 11:15] hunterlong commented on #215
I believe this issue has been revolved.

[2020-01-13 11:15] #215 closed

[2020-01-13 11:17] hunterlong commented on #295
I got it working in [Version 0.80.70](https://github.com/hunterlong/statping/releases/tag/v0.80.70). You can now set `BASE_PATH` as an environment variable to direct to the correct URL. 💃

### Example
- URL: `http://mydomain.com/monitor`
- `BASE_PATH` = `monitor`

Issue: https://github.com/hunterlong/statping/issues/340

[2020-01-13 11:17] #295 closed

[2020-01-13 11:19] hunterlong commented on #279
Statping uses go modules now. If you run `go get` in the directory, it should download the correct versions n such.

[2020-01-13 11:19] #279 closed

[2020-01-13 11:20] hunterlong commented on #272
One day I'll create Statping's frontend in Vue.js. For now though, the Chrome plugin sounds nice.

[2020-01-13 11:20] #272 closed

[2020-01-13 11:20] #192 closed

[2020-01-13 11:21] hunterlong commented on #218
I believe this issue has been fixed.

[2020-01-13 11:21] #218 closed

[2020-01-13 11:24] hunterlong commented on #204
Hmm... very true. I think the feature would sounds like...

I'll get this out on the next update.

[2020-01-13 11:25] hunterlong commented on #197
Yeee. Heroku is a mess these days. Maybe one day I'll look back into this.

[2020-01-13 11:25] #197 closed

[2020-01-13 11:27] hunterlong commented on #84
I think I might discontinue golang plugin support. There's been no updates to the golang plugin and it only works on Mac and Linux. It also creates a file larger than the Statping executable itself.  Odd. Maybe one day I'll come back to this.

[2020-01-13 11:27] #84 closed

[2020-01-13 11:33] hunterlong commented on #187
The graphs are rendered with AJAX requests these days. I believe this issue might be resolved due to how the index page loads now.

[2020-01-13 11:33] #187 closed

[2020-01-13 11:34] hunterlong commented on #213
Have you checked out the [Percona DML command Docs](https://www.percona.com/doc/percona-xtradb-cluster/LATEST/features/pxc-strict-mode.html)?

[2020-01-13 11:34] #213 closed

[2020-01-13 11:36] hunterlong commented on #132
This PR was merged in a while ago. All database time entries should be written in UTC. The frontend should then format UTC to the users timezone.

[2020-01-13 11:36] #132 closed

[2020-01-13 11:39] hunterlong commented on #195
- [ ] Users should be able to authenticate with their own API keys.

[2020-01-13 11:43] hunterlong commented on #216
Merged. Will be added into next release (+0.80.71)

[2020-01-13 11:43] #216 closed

[2020-01-13 14:01] FoxxMD commented on #204
Thanks @hunterlong that would be amazing

[2020-01-13 17:18] FanyangMengDev commented on #138
Really weird cause I am using 0.80.70 and face this issue again

[2020-01-14 03:31] FanyangMengDev opened #346 "Load speed becomes super slow and the graph won't display after the database is larger than approxomately 80 MB"
**Describe the bug**
Hi there,

I have been using statping for a long time since last year. I have met serveral times that statping won't display any graphs on the homepage. Last few times I tackled with this issue by clearing the database. But just yesterday I met this again.

This time I did not clear all the database. I just cleared all the data in the 'hits' in the database. And boom, the stat

[2020-01-14 03:40] FanyangMengDev commented on #346
But after did this I got this error when I click on the view service button
`apexcharts.min.js:6 Possible Unhandled Promise Rejection: TypeError: Cannot read property 'length' of null
    at Function.value (apexcharts.min.js:6)
    at t.value (apexcharts.min.js:6)
    at t.value (apexcharts.min.js:6)
    at i.value (apexcharts.min.js:6)
    at i.create (apexcharts.min.js:6)
    at apexcharts.min.j

[2020-01-14 03:45] FanyangMengDev commented on #346
I found that my issue is very similar to this one #187

But it did not actually resolve cause it happens on Ubuntu 18.04 with 4 core 8GB RAM

[2020-01-14 14:00] N0rimaki commented on #318
Oh.. i will have a try.. thank you

[2020-01-14 14:36] N0rimaki opened #347 "Possibility to switch between Grid and List view"
**What would you like on Statping?**
I would like to have some Button on the Top of the Dashboard to switch between the Classic List-view and the new requested Grid-view to see the Device States. Optional: TheWebsite should update in Background so you can run statping on some 24/7 Display for Monitoring

**Describe the solution you'd like**
If you click the Button, the Dashboard should rearrange

[2020-01-14 17:56] okainov opened #348 "BASE_PATH doesn't work"
I tried to update now, but it doesn't seem to work for me.

I'm using `docker-compose` (config from https://github.com/hunterlong/statping/wiki/Docker#docker-compose-with-nginx-and-postgres)

After I add `BASE_PATH: uptime` to the `statup` service, it runs, but I see Statping error "this page doesn't seem to exist" when accessing either via base path `my-domain.com/uptime`  or accessing via port `

[2020-01-14 18:03] okainov commented on #348
(and just a side comment)

I'm not an expert in how such stuff is handled in Golang, but as I mentioned before, IMO the proper solution should handle `SCRIPT_NAME` header (i.e. like Python Django does) and build URLs relative to SCRIPT_NAME. The point is that the app should be agnostic of custom URL it's running on, the only place where app really needs to know the full URL is sending emails, and

[2020-01-14 20:59] jtbonhomme commented on #216
Thanks !

[2020-01-15 00:17] ortizdr commented on #348
I am running on a Windows server. Where do I implement the base path variable?

[2020-01-15 13:17] aliyildiz opened #349 "SSL Expiration Notification"
**What would you like on Statping?**
Send notification if the SSL certificate has expired soon.

**Describe the solution you'd like**
Add SSL notification box at the service detail screen.

**Is your feature request related to a problem? Please describe.**
Not a problem. But I think Statping will be better when this feature is added.

**Additional context**
Must be checked SSL certificate every da

[2020-01-16 18:36] fdegraeve commented on #223
+1 I have lot of false positive, a retry will be great

[2020-01-16 19:02] GhaziTriki commented on #223
By increasing the timeout the false positives can be avoided.

[2020-01-18 10:08] rogierlommers commented on #319
Hey @hunterlong , do you accept PRs for this?

[2020-01-18 10:44] rogierlommers commented on #259
Hey @tyler-public , I have a similar issue I think. Let me explain. I'm watching the following url: `https://bjornvandenboom.nl`. This give a 301, because it redirects to `https://bjornvandenboom.com`. But fort some reason, statping thinks it is resulting in a 404 and I really don't know why. Do you have a clue?

[code]

[2020-01-18 11:50] rogierlommers commented on #338
Same problem here; running Statping 0.80.71.

[2020-01-18 12:30] projx opened #350 "Grid-layout for dashboard"
**What would you like on Statping?**

To use on a very large non-interactive wall mounted TV in an operations centre. This requires StatPing to display as much information on a single non-scrolled display as possible.

Ideally, this layout would be a portlet / grid, with a block for each service being monitored, showing Service Name, Service Status, and Uptime %. Basically, the same as the Mobile

[2020-01-18 13:22] FanyangMengDev commented on #338
@rogierlommers Seriously? 0.80.71?

[2020-01-18 16:10] claj314 commented on #318
I have the same issue with 0.80.71 on docker image. I added a rule in firewall for block the ping, then added a new icmp service. The dashboard said it was offline. After that I disabled the rule in firewall and then the dashboard showed online. But when I reenabled the rule the status wasn't changed  to offline

[2020-01-18 18:58] rogierlommers commented on #338
No, I'm running the latest docker `stable` tag; it's giving me 0.80.71. See screenshot below.

<img width="347" alt="Screenshot 2020-01-18 at 19 57 02" src="https://user-images.githubusercontent.com/3907131/72668996-d8e3c800-3a2c-11ea-8d11-a359bef18c27.png">

[2020-01-19 00:00] FanyangMengDev commented on #338
@rogierlommers Wow I did not expect that docker has the newer version. I am always using the binary version. You make me wanna change to the docker version HAHA 😂

[2020-01-19 19:50] doc75 opened #351 "Time for messages is shown in UTC while setting is in GMT+1"
**Describe the bug**
When setting a start and end date for a message, it is always set in UTC and displayed in UTC even if setting is set to GMT+1

**To Reproduce**
Steps to reproduce the behavior:
1. I'm using version: 0.80.71 (docker image) with setting for time as GMT+1
2. I went to `Messages` and created a new message valid from 2020-01-20 11:00AM to 2020-01-21 11:00AM => is it show from 10:00

[2020-01-19 19:51] doc75 opened #352 "Time display not taking into account setting"
**Describe the bug**
When setting a start and end date for a message, it is always set in UTC and displayed in UTC even if setting is set to GMT+1

**To Reproduce**
Steps to reproduce the behavior:
1. I'm using version: 0.80.71 (docker image) with setting for time as GMT+1
2. I went to `Messages` and created a new message valid from 2020-01-20 11:00AM to 2020-01-21 11:00AM => is it show from 10:00

[2020-01-19 19:51] doc75 commented on #352
Duplicate (I got an error message on first creation, but it was indeed created)

[2020-01-19 19:51] #352 closed

[2020-01-20 19:54] t3chn0m4g3 commented on #207
+1

[2020-01-22 03:20] zackijack commented on #332
Hi @hunterlong , yeah it worked 🎉
Thanks

[2020-01-22 05:47] joshuaboniface opened #353 "Twilio API returns Error No credentials provided"
**Describe the bug**
When configuring a Twilio notifier, a test or production message returns error code "20003 - Authentication Error - No credentials provided" from the Twilio API.

I've verified Twilio credentials are correct, and successfully replicated with a dedicated SMS API key.

I suspect the issue is that the api_secret at https://github.com/hunterlong/statping/blame/master/notifiers/twi

[2020-01-22 09:07] avidia commented on #350
+1
Need this as we have a long list of monitored endpoints.

[2020-01-23 13:43] roomcays commented on #349
This would be very neat feature!

[2020-01-23 13:51] roomcays opened #354 "Domain expiration notification"
**What would you like on Statping?**
Additional checkbox option for every service described as "Check domain expiration"

**Describe the solution you'd like**
When "Check domain expiration" is checked, then there is one additional check performed: renewal date of given domain. If it is close to renewal date (like a week or a month) a notification is issued.

**Describe alternatives you've consider

[2020-01-23 21:11] kalodis opened #355 "Change Port From 8080 to 80"
I need to be able to update the port from 8080 to 80 on the windows installer.

I used the SQLITE as my database

Thanks

[2020-01-24 04:35] roycepope commented on #350
Oh man a grid layout would be amazing!

[2020-01-24 13:25] kuetemeier opened #356 "Main Settings | "Settings" and "Notifications" deleting each other"
**Describe the bug**
Try to explain what issue your'e having in detail. You can copy and paste the issue from the log file in your root directory `/logs/statup.log`.

"Save Settings" under "Settings" and "Notifications" resets the configuration on the other page.

- Go to Main Settings -> Settings under /settings
- Fill out "Project Name", "Project Description", "Domain", etc...
- Click "Save sett

[2020-01-24 17:00] jamiew0w commented on #338
Can confirm this is still happening. It also wipes out the `custom footer` along with the `timezone settings` so if you toggle it and restart the service you need to reset them up. It's not saved to the config.yml

@hunterlong Could we have variables in the config.yml to hard-define footer/timezone?

Setting `domain: http://blah` in the config.yml has stopped that part being reset so the above see

[2020-01-25 09:56] okainov commented on #350
Would be really great to have indeed

[2020-01-26 20:12] maxkratz commented on #356
This might be related to #338 .

[2020-01-26 23:03] kuetemeier commented on #356
Yes, it‘s the same bug. I did a quick search before my post, but have oberlooked it. Thanks for the reference @maxkratz.

[2020-01-26 23:03] #356 closed

[2020-01-27 01:20] TheChiefMeat opened #357 "Database error for arm7"
**Describe the bug**
I'm starting statping with the below systemd configuration:

[code]

and I get the following error when I restart/enable with systemd:

[code]

Running statping manuall with `/home/pi/stat/statping --port 7070` works fine.

[![Gitter](https://img.shields.io/gitter/room/nwjs/nw.js.svg)](https://gitter.im/statup-app/general) [![GitHub release](https://img.shields.io/github/relea

[2020-01-27 18:52] mjhd commented on #314
So does anyone know if this project is dead - this bug essentially means the project simply doesn't work, as it's primary function is not functional. If this is a dead project I'd like to update it's Libhunt page that it has become abandonware...

Thanks

[2020-01-28 00:46] lorranpego commented on #202
I am having the same problem with version 0.80.71 running the docker version.

I have only Slack and Email configured for notification, and I don't receive any messages when the services goes offline and back online.
However, the test message works for both.

The toggle is activated (is this the correct toggle button?):

![Screenshot_20200128_094408](https://user-images.githubusercontent.com/75911

[2020-01-28 12:44] fititnt opened #358 "Cache busting as option on Application Endpoint (URL)"
**What would you like on Statping?**
Some complex stacks have more than one reverse proxy (or cache proxy) siting in front of backend servers. The ability to allow simpler cache busting may reduce the caching

**Describe the solution you'd like**
A good example is how [jQuery.ajax](https://api.jquery.com/jQuery.ajax/) (and other jQuery APIs) allow append values to the end of URL based on the times

[2020-01-28 15:30] thedmeyer opened #359 "Easiest way to migrate the database? SQLite to Postgres"
I want to migrate from using SQLite to Postgres. What would be the easiest way to accomplish this without having to start fresh and re-import my services?

[2020-01-28 23:43] galexrt commented on #165
I might be able to look into this issue during February and create a PR to fix it.

Code ref:
https://github.com/hunterlong/statping/blob/15063734a5db9f1578e7a6f1710648968f600452/notifiers/email.go#L90-L91

[2020-01-29 07:54] N0rimaki commented on #350
Yeah.. as i already requested but everyone ignored *sigh*
https://github.com/hunterlong/statping/issues/347

[2020-01-29 10:13] l0nax commented on #338
I'm the developer of this Issue.
So I hope I can help you fixing this Issue.

First of all can you guys please send the Error/ Debug log which the Server produces?
I will try to reproduce the Error when I'm at work.

[2020-01-29 10:30] l0nax commented on #338
Why would you like to "hard code" this Code?
If you think that this will fix the problem then this is more like a lightweight workaround, because it does not really fix the Issue which produces this error.

[2020-01-29 11:06] jamiew0w commented on #338
Oh for sure, it's just a workaround but it does solve #3 as these settings aren't persistent at the moment.

[2020-01-29 13:18] l0nax commented on #321
Do you have enabled the specific Notifier in Settings?

[2020-01-29 13:19] l0nax commented on #338
What has this to do with Issue #3? Since it handles about the Plugin System/ Documentation.

[2020-01-30 08:57] axtg commented on #286
Did you figure this out? Because I am now in exactly the same position.

[2020-01-30 09:30] cbrody commented on #286
No, I'm still using plain http to connect to the instance.

[2020-01-30 10:42] schemen commented on #338
I can also confirm that this happens. Also it seems to mess with the groups: I cannot create new ones:

```statup         | ERRO[0407] template: main:38:116: executing "content" at <.GroupId>: nil pointer evaluating *core.Group.Name  type=handlers```

Using the latest docker image

[2020-01-30 10:44] l0nax commented on #338
@schemen can you also please provide your (debug) logs?

This would be really helpful.

[2020-01-30 12:04] schemen commented on #338
@l0nax Could you elaborate how to enable debug logs? is it via Env variable VERBOSE? a certain level?

[2020-01-30 13:53] mikedhanson commented on #318
Having the same issue. Cant get a response from IPs using ICMP. Running version 0.80.71 on docker image through unraid.

[2020-01-30 16:49] kuetemeier commented on #338
Hi,

I do not have much time to provide a direct patch, but these types of problems usually have the same pattern. So I took a quick look at this.

As I thought both forms call the same action `settings`:

In [source/tmpl/settings.gohtml](https://github.com/hunterlong/statping/blob/master/source/tmpl/settings.gohtml)

[code]

And if I'm right the handler is in [handlers/settings.go](https://github

[2020-01-31 18:40] mspencerl87 commented on #174
Same thing here Jan 31 2020.. Dashboard not updating devices using ICMP without first restarting docker service every time status changes.. idk wth

[2020-01-31 18:57] mspencerl87 commented on #225
Same issue... Windows/Docker

[2020-01-31 21:12] geekaroni opened #360 "Home Assistant Integration"
I’ve been a huge fan of Statping for a long time. I’ve recommended this to several people on Reddit and they all seem to love it as much as I do.

With that being said, how many coffees can I buy you to see an integration for Home Assistant? I’d love to be able to monitor my services within the HA dashboard. This would be a perfect HACS (Home Assistant Community Store) integration. This would comp

[2020-02-01 13:48] kuetemeier commented on #356
For reference: I wrote a bugfix #361

[2020-02-01 17:14] mahmoud-ashi opened #362 "Loading page extremely slow and timesout when database is on NFS share"
**Describe the bug**
In my setup, I have 30 services with default ping interval (60 seconds). The database is located on an NFS share and mounted into the docker container. When refreshing the page, the page does not fully load and takes too long (~1 min).
When moving the workspace to some local folder (e.g. /tmp/statping), the page loads quickly.
I ran the following command `inotifywait -m --form

[2020-02-02 14:04] ytjohn commented on #334
Statping 0.80.71 (running inside of Docker). Just started testing this out this weekend, and realliy like it for website monitoring. I figured I'd try the traefik integration, as all my homelab stuff is behind traefik. It'd be great to pull in all the public facing services.

I am on Traefik 2.1.1, which may have changed it's api response from v1.  When I attempt to add my traefik with the integra

[2020-02-03 05:57] TATUMTOT commented on #348
Having same issues not working or I'm understanding how to implement properly.

[2020-02-03 05:58] TATUMTOT commented on #348
@ortizdr Did you ever get this figured out?

[2020-02-04 06:49] hunterlong opened #363 "Statping Frontend in Vue.js"
I've been working on re-creating Statping's frontend to use [Vue.js](https://vuejs.org/) rather than majorly sloppy jQuery. Since it's going to act as a 1 page website, there are been many changes with the code base.

Demo:   [https://vue.statping.com](https://vue.statping.com)
Branch: [vue](https://github.com/hunterlong/statping/tree/vue)
Docker: [hunterlong/statping:vue](https://hub.docker.com/r

[2020-02-04 09:36] mzch opened #364 "Wrong host name"
**Describe the bug**
Can't send email notifiers including test. Using the same credentials, other apps can send emails normally.
No logs.

**To Reproduce**
Steps to reproduce the behavior:
1. I'm using version: '0.80.63'
2. I went to 'Settings/Email'
3. Press this button 'Test Notifier'
4. And things did 'Red alert "wrong host name"'

**Expected Behavior**
A clear and concise description of what y

[2020-02-04 09:43] mzch commented on #364
Sorry, fixed by updating the latest

[2020-02-04 09:43] #364 closed

[2020-02-04 17:09] thedmeyer opened #365 "meta description tag always reports services as online even when some are offline"
**Describe the bug**
When a service goes offline, the meta description tag does not change to reflect this.

For example, my statping always reads:

`
<meta name="description" content="System is currently monitoring 12 services with 0 of them offline. System is using Statping to monitor applications.">
`

**To Reproduce**
Steps to reproduce the behavior:
1. I'm using version: `Statping 0.80.71`
2.

[2020-02-04 17:16] thedmeyer commented on #365
Problem exists here: https://github.com/hunterlong/statping/blob/master/source/tmpl/index.gohtml#L2

[2020-02-04 20:04] natelandau commented on #285
+1 - can't build on arm.  any chance of a first party arm tag to the docker image?

[2020-02-05 00:33] iankaufmann opened #367 "No POST data sent"
Hello,

I am trying to do a very simple HTTP POST service check with the following Optional Post Data:
{"username": "test", "password": "test"}

The script on the other end is not receiving any POST data at all.

I feel like this is a dead-simple feature that I just cannot get working.  I don't know what I could do to make my test case any more basic.

At this point I am just hitting a PHP file co

[2020-02-07 00:46] wampiedriessen commented on #345
gotify/server also has a REST-api so with variable replacement in the body you should be able to integrate.

Having the following should suffice:
* Endpoint: https://my-gotify-server.net/message
* Method: POST
* Header: `X-Gotify-Key=<application_token>`
* Body:
[code]
[Source](https://gotify.net/api-docs#/message/createMessage)

[2020-02-07 14:07] jimmycasey opened #368 "Cypress Testing Docker Image no longer available"
docker run -it -p 8080:8080 hunterlong/statping:cypress
Unable to find image 'hunterlong/statping:cypress' locally
docker: Error response from daemon: manifest for hunterlong/statping:cypress not found.
See 'docker run --help'.

[![Gitter](https://img.shields.io/gitter/room/nwjs/nw.js.svg)](https://gitter.im/statup-app/general) [![GitHub release](https://img.shields.io/github/release/hunterlong/st

[2020-02-08 12:47] FuzzyMistborn opened #369 "Notifications when service goes down not working"
**Describe the bug**
I've enabled notifications for telegram and email.  But when the service goes down I'm not getting pings/messages.  Nothing is logged showing that a message was sent or was tried to be sent.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what yo

[2020-02-08 20:10] pickeld commented on #121
same here

same here.. :/

[2020-02-08 21:51] hunterlong commented on #368
Very true. I’ll be removing from Makefile on next release. I’ve been working on recreating the Front end in Vue.

[2020-02-08 21:52] hunterlong commented on #367
Interesting... I’ll check it out.

[2020-02-08 21:59] DanielRuf opened #370 "can not move service"
**Describe the bug**
I tried moving services while they are online / checked and I can not reordert them, the order does not change when I release the mouse button.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the services
2. Try to reorder them

**Expected Behavior**
They should reorder

**Screenshots**

[2020-02-08 22:01] DanielRuf commented on #370
[code]

[2020-02-08 22:03] DanielRuf commented on #370
It seems this happens when no group is defined:

[code]

[2020-02-08 22:12] DanielRuf opened #371 "service URL redirects to /"
**Describe the bug**
I have created a few services with a name and when I am not logged in they all redirect to the root page (/) instead of redirecting to /service/blog for example.

**To Reproduce**
Steps to reproduce the behavior:
1. I'm using version: '...'
2. I went to '....'
3. Press this button '....'
4. And things did '....'

**Expected Behavior**
A clear and concise description of what yo

[2020-02-08 22:13] DanielRuf opened #372 "apexcharts error: i is null"
**Describe the bug**
Charts are not rendering on a service page with a name.
`TypeError: i is null`

**To Reproduce**
Steps to reproduce the behavior:
1. I'm using version: '...'
2. I went to '....'
3. Press this button '....'
4. And things did '....'

**Expected Behavior**
A clear and concise description of what you expected to happen.

[2020-02-08 22:17] DanielRuf opened #373 "missing release 0.80.71"
**Describe the bug**
There is only 0.80.70: https://github.com/hunterlong/statping/releases/tag/v0.80.70

But it seems you have a newer version at https://demo.statping.com/ (0.80.71). Where is the code for that and what changes does it include?

[2020-02-08 22:20] DanielRuf commented on #355
There is a `port`option. Run `statping.exe --help` or similar to see it.

[2020-02-08 22:21] DanielRuf commented on #207
Same here. How can we fix this? It seems to be an issue with too few data for the chart.

[2020-02-08 22:23] DanielRuf opened #374 "failing CI"
See https://travis-ci.com/hunterlong/statping/builds/144797254

[2020-02-08 22:37] hunterlong commented on #370
Hey @DanielRuf , I’m currently working on recreating the frontend in Vue. Checkout the vue branch, the docker image is: ‘hunterlong/statping:vue’

[2020-02-09 05:34] DanielRuf commented on #370
Hi @hunterlong,

Thanks, unfortunately I can not use Docker on my hosting platform due to the security but I will test it locally with Docker then.

[2020-02-09 06:43] DanielRuf opened #375 "Improve title"
Currently the title is our own description / name + "Status" which can look weird:

There should be a customizable separator like `-` at least and both parts of the title should be configurable.

[2020-02-09 06:49] DanielRuf commented on #363
I propose to replace momentjs with dayjs or date-fns.

See https://github.com/you-dont-need/You-Dont-Need-Momentjs/blob/master/README.md

[2020-02-09 06:54] DanielRuf commented on #363
The timezone data json is even much bigger (uses year ranges).

[2020-02-10 14:16] Shoehart commented on #236
Same issue with "Statping 0.80.70"

[2020-02-11 00:21] hunterlong commented on #363
Thanks @DanielRuf very interesting...

[2020-02-11 16:43] #368 closed

[2020-02-11 16:48] jimmycasey commented on #321
Same here: https://github.com/hunterlong/statping/issues/314

[2020-02-11 19:04] mjhd commented on #314
Suggestion to mark dead on libhunt has been submitted - if you're members (Awesome SysAdmin) - please upvote the suggestion...

https://sysadmin.libhunt.com/suggested_changes

[2020-02-11 19:05] mjhd commented on #321
Suggestion to mark dead on libhunt has been submitted - if you're members (Awesome SysAdmin) - please upvote the suggestion...

https://sysadmin.libhunt.com/suggested_changes

[2020-02-11 19:25] FuzzyMistborn commented on #321
Considering there was a commit 26 days ago I don't know if it's appropriate to mark it "dead."

[2020-02-11 19:44] mjhd commented on #321
Follow the link I posted and see HOW MANY open issues there are, stating outright the primary functionality is failing - with no reply since June of last year. A project is considered dead when it’s author goes silent and makes no indication they intend to fix, or continue to maintain, the project, pushing code is not relevant - students posting their class work push code, the issue is of intent a

[2020-02-11 20:11] mjhd commented on #321
@l0nax - is your fork currently operational by chance? Or does have these same issues, I’m up to help maintain if necessary, though I’m newer to GO

[2020-02-11 20:17] l0nax commented on #321
I think @hunterlong is currently busy.
And even if he has long response delays I would not recommend to create a different fork which will be maintained apart of this Project.
Because this will lead to two Projects with different States.

I would say we should be up to ten (or more) Days for @hunterlong.
Because this is his Project and it's definitely not cool to "remove" a Projects from the owner

[2020-02-11 20:18] l0nax commented on #321
And if this does not help **then** we can create a separate maintained fork.

[2020-02-11 20:20] l0nax commented on #321
@kharazi can you please send me your Configuration?
And the debug log would also be pretty nice to have.

[2020-02-11 20:22] l0nax commented on #314
@jimmycasey can you please post your Configuration?

And does it work - sending a Mail - when pressing the 'Test Mail' button?

[2020-02-11 20:22] mjhd commented on #321
I was asking about your current fork, that was just curiosity...

It doesn’t matter if people are standing up for him (which is nice of you) because I’m not accusing him or attacking him, at Libhunt, our priority is with informing people about the features, quality, and CRITICALLY, status of projects we list. As I said, he can come back anytime, but we WILL be keeping OUR userbase apprised in the

[2020-02-11 20:25] l0nax commented on #321
I will get started tomorrow at work fixing some Issues and doing a little bug fixing in this Code-Base.

I have several things to fix in this Code - ie. the incorrect time measurement.
And if @hunterlong does not respond within 10 days we can start creating a Community Fork of this Project.

[2020-02-11 20:28] l0nax commented on #372
@DanielRuf please fill out the Issue template _correctly_ otherwise, we can not help you!
or close your Issue please if you do not update your bug informations.

[2020-02-11 20:29] l0nax commented on #374
The Travis CI is failing for a while and will be fixed soon.
Is added to (private) backlog.

[2020-02-11 20:30] mjhd commented on #321
Ok - that's good, I just want to reiterate though, this is not an attack or punishment - I'm just trying to keep statuses updated and yours isn't the only project I have to look at, that's all - no pressure, no problem - I'm certainly not writing your schedule, I understand full well how much it takes to maintain a FOSS project, so please don't take this as any hostility on my part - I appreciate

[2020-02-11 20:31] l0nax commented on #375
Then simply put a `-` before the `Status` in your Settings.

The Title is configurable in `Settings -> Project Name`

[2020-02-11 20:33] l0nax commented on #371
@DanielRuf Again... Can you _please_ fill out the **complete** Issue Template?

Otherwise close this Issue, thanks!

[2020-02-11 20:35] l0nax commented on #369
Related to #331
@FuzzyMistborn please check first if there's already an Issue tracking Errors/ Bugs like yours before creating a new one.

[2020-02-11 20:38] FuzzyMistborn commented on #369
Sorry, wasn't sure if it was exactly the same.  I'll close this out.

[2020-02-11 20:38] #369 closed

[2020-02-11 20:38] l0nax commented on #362
@mahmoud-ashi Can you please share your NFS Configuration with us?
This problem could be related because of the slow NFS-Protocol/ slow hardware.

One possible solution for you would be using caching on your target machine, so changes are written async - which may result in data loss.

[2020-02-11 20:42] l0nax commented on #360
Dear @geekaroni I think this is a beautiful Idea!
Can you please describe your wish for a feature in more detail?

I miss some details like:
- Which specific Home Assitant
- Which specific features (voice commands, ...)

[2020-02-11 20:47] l0nax commented on #359
**WARNING:** I haven't tried it, so before starting this on your production system please make a backup and try it locally!

1. move to SQLite DB await. And start afresh `statping` Instance with the PostgreSQL DB.
2. Using a Tool like [pgloader](https://github.com/dimitri/pgloader) to move the Data from your SQLite DB to the PostgreSQL DB.

[2020-02-11 20:50] l0nax commented on #357
This looks like a permission Error which is not handled well by `statping`.

@TheChiefMeat can you please share your `statping` Configuration (_ENV_ variables)?

[2020-02-11 20:59] DanielRuf commented on #371
Hey, you can reproduce it on https://status.daniel-ruf.de.

[2020-02-11 21:00] DanielRuf commented on #375
This should be the case in the template by default. This should be nothing that we have to add manually.

[2020-02-11 21:02] DanielRuf commented on #375
At least it seems there is some `|`missing somewhere.

https://github.com/hunterlong/statping/blob/217a45425de63e29a198a636e1982ba019e29b25/source/tmpl/head.gohtml#L4

Otherwise it is not consistent.

[2020-02-11 21:07] DanielRuf commented on #372
Simply create a service with the latest stable release, give it a name and go to its status page and check the console.

As the files are minified and there is no sourcemap delivered I can not dig deeper at the moment.

<img width="1278" alt="Bildschirmfoto 2020-02-11 um 22 04 47" src="https://user-images.githubusercontent.com/827205/74279100-91deaf00-4d1a-11ea-91cd-48d1c52a04c0.png">

But interes

[2020-02-11 21:09] DanielRuf commented on #372
See https://github.com/apexcharts/apexcharts.js/blob/2b136289ed1714d9f1640ba235ee8896df37d11b/src/utils/Utils.js#L201

[2020-02-11 21:13] DanielRuf commented on #372
Seems there is some wrong hex color value somewhere in your code:

<img width="493" alt="Bildschirmfoto 2020-02-11 um 22 13 03" src="https://user-images.githubusercontent.com/827205/74279708-b6875680-4d1b-11ea-9ecb-e37a88f0b162.png">

[2020-02-11 21:23] DanielRuf commented on #372
Detailed stacktrace from Chrome:
<img width="542" alt="Bildschirmfoto 2020-02-11 um 22 23 02" src="https://user-images.githubusercontent.com/827205/74280583-1b8f7c00-4d1d-11ea-91e7-c37b9f400e96.png">

[2020-02-11 21:34] l0nax commented on #375
I do not think this should be done by the Template because then we have to respect and implement it for all the other Languages and this is not purposeful.
And the `Status` is _not_ added by the Template, its added by the User, so the user has to care about how it looks like and not the application.

[2020-02-11 21:40] l0nax commented on #371
This behavior is on purpose done because the other Template - which shows the more detailed view and could potentially leak some Information.

I don't think this is a bug, it's rather a "Feature".
_Why?_ Because the current website template does not implement such a possibility.

If you want to share more information with the public you can create a feature-request with a detailed view of the Info

[2020-02-11 21:47] l0nax commented on #371
I'm sorry.

This has been fixed with version `v0.80.71`.

Because of this line:
[code]

[2020-02-11 21:53] DanielRuf commented on #372
Reproducible testcase: https://codepen.io/DanielRuf/pen/WNvQQrb?editors=0010

[2020-02-11 21:53] l0nax commented on #373
Here are the current changes which have been made since version [`v0.80.70`](https://github.com/hunterlong/statping/releases/tag/v0.80.70):
[code]

Here a GitHub link to check out the changes interactively in the WebUI: https://github.com/hunterlong/statping/compare/72f1889a9479042ea04a9d9efed247e1460812fb..48f5a8825356ae8488702a4f4c83d200d2d0a6fa

Here is a list of all Commits:
- 48f5a8825356ae84

[2020-02-11 21:54] l0nax commented on #371
To be more precisely here is the Commit which made the Change: 48f5a8825356ae8488702a4f4c83d200d2d0a6fa.

So this has been fixed by 48f5a8825356ae8488702a4f4c83d200d2d0a6fa.

[2020-02-11 22:10] DanielRuf commented on #372
Setting the heatmap data before rendering it fixes it:

https://codepen.io/DanielRuf/pen/LYVppjB?editors=0010

[2020-02-11 22:11] DanielRuf commented on #372
I guess this is sufficient information now ;-)

[2020-02-11 22:14] DanielRuf commented on #375
Not that I knew ;-)

<img width="631" alt="Bildschirmfoto 2020-02-11 um 23 12 48" src="https://user-images.githubusercontent.com/827205/74284459-0d912980-4d24-11ea-9409-b6492f6ea74d.png">

[code]

;-)

As I said, it is not added by me.

See https://github.com/hunterlong/statping/blob/217a45425de63e29a198a636e1982ba019e29b25/source/tmpl/index.gohtml#L1

Any separating character should not be part o

[2020-02-11 22:15] DanielRuf commented on #371
Thanks, then I am just waiting for the release. https://github.com/hunterlong/statping/releases

Also see #373

[2020-02-11 22:20] DanielRuf commented on #373
Thanks, https://github.com/hunterlong/statping/compare/v0.80.70..master shows them too. Not sure why they are not shown on the release page (x commits since this release).

I guess because there is something very off with the Git history. Otherwise I could see them too. See https://github.com/DanielRuf/website-checks/compare/v1.18.0...master for comparison.

[2020-02-11 22:26] l0nax commented on #373
I added the current commit hash of master to have a working link also in the future – when additional commits are added to master.

[2020-02-11 22:31] DanielRuf commented on #373
I know ;-) But this does not really answer why they do not show up as commits in the compare view ;-)

Well, let's wait until the new release is out so I can deploy it.
Thanks for your effort to answer my questions and your feedback so far.

[2020-02-11 22:40] TheChiefMeat commented on #357
@l0nax Do you mean the contents of the config.yml? I have this:

[code]
To launch I use `/home/pi/stat/statping --port 7070`

[2020-02-11 23:45] djmaze commented on #345
wampiedriessen: Very nice, it works!

[2020-02-12 01:58] geekaroni commented on #360
Yes sorry. Here is Home Assistant. It is also open source and has a wonderful community of active people. https://www.home-assistant.io/

[2020-02-12 07:07] l0nax commented on #357
Thanks @TheChiefMeat, could you try to enable the debug Mode and post the logs from/ via `journalctl`?

And also could you print the output of `ls -lah STATPING_DATA_PATH`?

Thanks 😄

[2020-02-12 07:13] l0nax commented on #360
Since I'm not familiar with [Home Assistant](https://www.home-assistant.io/) it would be nice if you describe your feature request in detail :D

[2020-02-12 07:16] l0nax commented on #285
@TheChiefMeat this only means that you have to install [dep](https://github.com/golang/dep).

@lucacalcaterra Simply install `sass` via your preferred package manager ie. `apt`.

@natelandau can you please describe _why_ you can not build it on arm?

[2020-02-12 08:01] djmaze commented on #285
@l0nax There are actually two problems:

* The `sass` binary bundled in the current image is amd64 only.
* Upon building with the Alpine base image, I am having a segfault when starting statping.

I had the same problem and fixed it with the changes from the linked PR:

* Switching to Debian as a base image.
* Using the sass package included in Debian instead of a prebuilt binary.

[2020-02-12 08:39] l0nax commented on #285
Switching to _Debian_ is very bad.
Because it blows the Image up, which isn't necessary.

I will implement via `docker-buildx` a `arm`-compatible Image.

[2020-02-12 10:00] jimmycasey commented on #314
Hi @l0nax ,
Ya test email works fine. Configuration is out of the box.
Thanks

[2020-02-12 14:24] lammertb opened #377 "Memory leak in new install"
I have installed a new install of statping on Centos 7 using the binary pre-compiled Linux package on January 16th 2020. The server is monitoring seven http servers and eight DNS servers.

The monitor is running a little less than a month now and virtual memory size has grown to 2919 Megabytes. It is running as single application on a dedicated server with 2GB memory and it has already pushed out

[2020-02-12 20:28] ksarnelli commented on #338
Any ETA on a fix for this or is there a workaround?

[2020-02-13 07:13] l0nax commented on #314
Do you have the mail notification enabled?
And what number do you have configured on the max Notifications per minute?

[2020-02-13 10:07] kuetemeier commented on #338
@ksarnelli As you can see above I opened a pull request with a bug fix patch. Don‘t know why it takes so long to merge it. Didn‘t get a response from the maintainers yet.

@hunterlong could you please take a view on this. My Mailboxes get flooded with status messsges. We need this (or another) fix as soon as possible. Many thanks in advance.

[2020-02-13 10:10] FanyangMengDev commented on #338
@kuetemeier To be honest, I sent him an email once, and he never reply to me. The issues I report also like this. Really do not know why these take so long. My email also flooded with the status messages.

[2020-02-13 10:21] l0nax commented on #285
Until I have the time to fix the Travis CI and automate the generation of the Docker image I have the versions here (https://hub.docker.com/repository/docker/l0nax/statping):
- v0.80.71 (master)
- v0.80.70
- v0.80.69
- v0.80.68

manually generated for the following platforms:
- linux/arm
- linux/arm64
- linux/arm/v7
- linux/arm/v6
- linux/amd64

These can be used by a simple 'docker pull l0nax/sta

[2020-02-13 11:56] DanielRuf opened #378 "delete failures redirects to /2/delete_failures in browser"
**Describe the bug**
When clicking the button "delete all failures" it redirects to /2/delete_failures afterwards which should probably not happen.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a service and click "delete all failures"

**Expected Behavior**
There should not be this redirect.

statping version: 0.80.70

[2020-02-13 15:54] vinaykapadia commented on #286
I'm trying to do the same thing. My only idea is to scrap the container that is already in there, and use the docker-compose.yml from https://github.com/hunterlong/statping/wiki/SSL

[2020-02-13 15:55] vinaykapadia commented on #286
Kinda defeats the purpose of using the pre built AMI, but oh well. They should build the AMI with the directory mapped where we can add the server.crt and cerver.key files.

[2020-02-13 16:38] vinaykapadia commented on #286
@cbrody @axtg I got it to work using these steps:

- add server.crt and server.key to /statping
- stop container `docker stop <name>`
- stop docker service `systemctl stop docker`
- go to directory /var/lib/docker/containers/<hash of container>
- edit file hostconfig.json, change port 8080 and 80 to 443
- edit file config.v2.json, change port 8080 to 443
- start docker service `systemctl start doc

[2020-02-13 16:44] jimmycasey commented on #314
Hi @l0nax ,
Just doing some logging around the notification:
[code]

where I added the logs:
[code]
Looks like it never enters that loop?

[2020-02-13 16:51] l0nax commented on #377
Thanks for your report, but this isn't a _Memory leak_.
A memory leak would only be possible if the Application uses library/ Code which is implemented in _C_ (where no garbage collector manages the memory) or if `unsafe.Pointer` is used.
But since this isn't the case and GoLang manages the allocated memory this is _not_ a memory leak.

The reason why the memory footprint isn't equal to the size o

[2020-02-13 17:02] l0nax commented on #314
This is because of `isType(comm, new(BasicEvents)) && isEnabled(comm) && (s.Online || inLimits(comm))`, so again: do you have enabled tthe Mail Notifier in the settings *and* to which value do you have set the _Message Limit_?

You find these Configurations under `Settings -> Notifiers -> Email`.
Here a Screenshot:

![screenshot-193 30 121 7-2020 02 13-18_01_17](https://user-images.githubuserconte

[2020-02-13 17:03] lammertb commented on #377
There is only 90 megabytes in the database file. The RAM used by the application is 2919 megabytes. Your explanation makes no sense.

[2020-02-13 17:07] jimmycasey commented on #314
Hi @l0nax ,
I have no limit set and notifications are on:
![image](https://user-images.githubusercontent.com/5089723/74459368-177d6e80-4e83-11ea-9223-b728947ccfa6.png)
![image](https://user-images.githubusercontent.com/5089723/74459402-282de480-4e83-11ea-9766-e165413168ff.png)
I put logs inside the loop and they are not getting logged, skips right over the loop.

[2020-02-13 17:08] l0nax commented on #314
There we are, you aren't receiving any Notifications because the _Mail Notifier_ has *not* been enabled.

Simply enable it by pressing the button before `Save`.

[2020-02-13 17:16] jimmycasey commented on #314
Sorry, I've been recreating the container all day:
![image](https://user-images.githubusercontent.com/5089723/74460095-4811d800-4e84-11ea-9bab-9266777047b3.png)
Test Email is working fine but that loop is not being entered.
![image](https://user-images.githubusercontent.com/5089723/74460231-7b546700-4e84-11ea-8920-a97c3b7762bb.png)

[2020-02-13 17:19] l0nax commented on #314
No, you have to _enable_ it by pressing slider button.
After that it should look like this:
![screenshot-193 30 121 7-2020 02 13-18_17_46](https://user-images.githubusercontent.com/29659953/74460489-40a2fc80-4e8d-11ea-9c6b-83da3381c07e.png)

After reloading the page you should see a _green_ Chop at the left side on the _Email_ entry.

[2020-02-13 17:21] l0nax commented on #377
Could you then _please_ provide any logs or something like that.

[2020-02-13 17:22] jimmycasey commented on #314
OMG, that slider isn't for the limit? Its working now.
Thanks for your help.

[2020-02-13 17:22] #314 closed

[2020-02-13 17:37] lammertb commented on #377
I am sorry that I have bothered you. If it is normal for you that an application which sends a handful of ping packets over the networks grows its memory use to 2.9 gigabytes in a matter of weeks, then so be it. It is not normal for me. I run many software packages with much more functionality which are at less memory hungry than this one.

Fortunately, the uninstall utility **/bin/rm -f** is very

[2020-02-13 17:50] l0nax commented on #377
I'm sorry if you misinterpreted my Comment but how can I help you/ start debugging without any fundament?

I couldn't reproduce it locally and also my production statping deployment isn't that memory hungry - and I'm checking over 20 services every second.

So I need your help digging deeper into your problem/ bug.

[2020-02-13 18:29] l0nax commented on #263
Has already been implemented.

@hwwilliams it would be nice if you could close this issue 😄

[2020-02-13 18:32] l0nax commented on #283
@azah does this big exists on the current version?

[2020-02-13 19:16] l0nax commented on #339
@hunterlong since you have reproduced this bug, could you please assign the `bug` label? This will help to better structure the Issues.

[2020-02-13 19:18] l0nax commented on #321
@kharazi please checkout #314. It looks like you have the same problem.

[2020-02-13 19:19] l0nax commented on #321
@hunterlong can you please assign the `support` label to this Issue?

[2020-02-13 19:21] l0nax commented on #307
I think this is a nice feature request :D

[2020-02-13 19:22] l0nax commented on #307
@hunterlong would it possible to assign the `possible feature` label to this Issue?

[2020-02-13 19:24] l0nax commented on #288
@FanyangMengDev does this bug still exists in the actual version?
If yes, could you please provide any logs to help to find the bug :)

[2020-02-13 19:25] l0nax commented on #288
@hunterlong could you please assign the `half way` label to this issue?

[2020-02-13 19:25] l0nax commented on #283
@hunterlong could you please assign the `half way` label to this issue`?

[2020-02-13 19:27] l0nax commented on #284
@azah does this bug still exists on the newest release?

[2020-02-13 19:28] l0nax commented on #282
@azah do you still face the issue?

[2020-02-13 21:40] djmaze commented on #285
@l0nax  Well, interestingly your alpine-based image starts successfully on my arm64 machine. I don't get why my (successful) *native* arm64 build crashes instead.

Other than that, your image still contains the amd64 version of the sass compiler, so theming won't work. You should probably use the `sassc` alpine package instead.

[2020-02-13 21:48] l0nax commented on #285
I had some trouble with the _sass_ package.

I'm currently planning to start working on a PR which fixes the Travis CI and adds the _arm_ Image support.

If you can't wait until the next release then I can fix the _sass_ bug tomorrow and re-push the images. @djmaze

[2020-02-13 21:49] l0nax commented on #285
@djmaze if you post the commands which you execute to generate your Image and the crash message then I can help you.

[2020-02-13 22:36] djmaze commented on #285
@l0nax

The image I built from the linked PR works for me, so no hurry.

I am using [this change](https://github.com/hunterlong/statping/compare/master...djmaze:use-sassc-package) and then running `docker build -t statping .` on the arm64 machine.

The build fails with the following output:

[code]

[2020-02-14 07:23] l0nax commented on #377
@lammertb Since you are saying that `statping` is using _2919 MB_ of RAM because of the `VSZ` column, then you are misinterpreting what `VSZ` stands for.
The `VSZ` describes how many _KiB_ a process _can_ use.
`RSS` describes how many memory the process is currently using - which is _1085008 KiB_ (=> `1111 MB`).

Even if `statping` is only using _1GB_, this is a huge amount of Memory.

Can you ple

[2020-02-14 09:38] FanyangMengDev commented on #288
@l0nax This bug does not exit in the latest version, Thank you for the response. I will close this issue now.

[2020-02-14 09:38] #288 closed

[2020-02-14 11:03] ItsShaw opened #379 "biggest bullshit i've ever saw"
Installed ant not working. No config file, installing with snap dont working too and its not running.
Very very bad tool!

[2020-02-14 12:31] DanielRuf commented on #379
Hey @NiceKype,

This is not very nice or helpful. Please provide the steps that you have done. And which snap?

[2020-02-14 12:34] DanielRuf commented on #379
Usually you start the binary, open localhost on the given port and start the setup.

[2020-02-14 12:36] DanielRuf opened #380 "issues with responsive design"
**Describe the bug**
There is an issue with numbers.

**Expected Behavior**
The numbers should not break the layout.
There is also an issue on the demo page.

**Screenshots**
![Screenshot_20200214-132847](https://user-images.githubusercontent.com/827205/74532259-0a1dbe00-4f2f-11ea-8aab-be7305ed56a0.jpg)

![Screenshot_20200214-133208](https://user-images.githubusercontent.com/827205/74532267-0f7b08

[2020-02-14 13:34] DanielRuf commented on #380
I think we need a monospace font or `font-variant-numeric: tabular-nums`.

https://stackoverflow.com/questions/10149330/force-non-monospace-font-into-fixed-width-using-css

https://css-tricks.com/almanac/properties/f/font-variant-numeric/

[2020-02-14 13:56] NiceKype commented on #379
Im a bit angry because i searched for a monitor tool, finding only bullshit and then getting this.
But okey, sry for that overreaction. Snap from Snapcraft, its written in the linux installation.
And usually dont work for me. I unpacked the zip, installed with the first command in the linux instructions but i cant open anything. If i want to start with the command statping run it says "there is no

[2020-02-14 14:13] DanielRuf commented on #379
I am not sure if https://github.com/netdata/netdata makes more sense for you then.

I think you mean something different. I am not aware of a snap distribution of statping.

You can download the binaries from https://github.com/hunterlong/statping/releases and start them with `./statping`.

These are compiled Go binaries.

[2020-02-14 14:14] DanielRuf commented on #379
And there is also a Docker image: https://github.com/hunterlong/statping#run-on-docker

[2020-02-14 14:18] DanielRuf commented on #379
I am not sure if https://github.com/netdata/netdata makes more sense for you then.

You can download the binaries from https://github.com/hunterlong/statping/releases and start them with `./statping`.

These are compiled Go binaries.

And there is also a Docker image: https://github.com/hunterlong/statping#run-on-docker

For Linux see https://github.com/hunterlong/statping/wiki/Linux

The snap see

[2020-02-14 14:18] NiceKype commented on #379
Nope netdata is not the correct tool for me. Im searching for a simple tool for me and the users to see if a server is on- or offline. Like uptimerobot. But i want it self hosted, automatic and with custom status or announcments for maintenance.

[2020-02-14 14:20] DanielRuf commented on #379
I recommend you to think about your disrespectful way of communication and the lack of steps to reproduce it and missing information about the exact error.

There are issue templates and it seems you did not use it.

I will stop helping now because it seems you do not try to be helpful with this input.

[2020-02-14 14:21] DanielRuf commented on #379
Especially as this is opensource software created by volunteers.

[2020-02-14 14:22] NiceKype commented on #379
Disrespectful is to put a not working tool online and answering like that. But i didnt wanted help. I dont need a not working tool :)

[2020-02-14 14:48] SebastianStehle commented on #379
All my respect to @DanielRuf for keeping calm and being friendly and professional. Statping is a great tool, got it running within minutes and it works great. Of course there is room for improvements but nothing is perfect.

[2020-02-14 14:51] DanielRuf commented on #379
Interesting, changing names now?

https://github.com/NiceKype
https://nicekype.de/

<img width="778" alt="Bildschirmfoto 2020-02-14 um 15 47 35" src="https://user-images.githubusercontent.com/827205/74541214-84573e00-4f41-11ea-846c-84b4e4b8f98b.png">

This makes nothing better ;-)

I think we can close this issue as you are not interested to provide constructive feedback and the needed information

[2020-02-14 14:55] SebastianStehle commented on #379
What? I have downvoted him because of his rude behaviour and I honestly think that you have handled it very well

[2020-02-14 14:57] DanielRuf commented on #379
Then I don't really understand why you opened the issue if you do not want any help. Building software is not easy and for me it works with the binaries.

Please keep in mind that people build software in their free time and often do not get money for this. Maintaining things is not easy and @hunterlong does a great job and built a great software.

There is a license which mentions the liabilities

[2020-02-14 15:06] DanielRuf commented on #363
I think I will have some time at the end of the month or next month and would be willing to help (worked as frontend developer and now fullstack web but no Go so far).

[2020-02-14 18:59] nahanil commented on #380
I'm not sure how (or to which issue) monospacing the font will help 😄

They both kinda look like weird overflow effects from `float`ing elements.
IMHO lose the `float`s and think `flex`, maybe with some targeted styles for narrow devices.

An easier change would be add the `clearfix` class to service titles and that blue alert box.

Your first screenshot looks like the long name of the check is pu

[2020-02-14 19:13] #379 closed

[2020-02-14 20:12] DanielRuf commented on #380
Well, the monospace step is just to ensure that the widths do not change depending on the content (4 numbers and dot).

The other part is flexbox or the solution of the float problem.

[2020-02-14 20:14] DanielRuf commented on #380
Did you compile it yourself? Because see no such release on GitHub.

[2020-02-14 20:42] nahanil commented on #380
`hunterlong/statping` from Docker hub

[2020-02-14 20:50] jamiew0w commented on #346
Can confirm both this and #187 are still an issue. I'm using a remote mysql server and same issue appears. Looks to be related to how much data is logged - IE upon initial install everything was fine, statping did start slowing down in response time and eventually, start amassing IO timeout issues despite iotop/ram/cpu and load in general being fine.

[code]

Basically the exact same as [my previo

[2020-02-14 21:00] l0nax commented on #346
@FanyangMengDev thanks for your report, I will start tomorrow to investigate this issue.

[2020-02-14 21:59] l0nax commented on #346
Possible Unhandled Promise Rejection: TypeError: Cannot read property 'length' of null at Function.value (apexcharts.min.js:6) at t.value (apexcharts.min.js:6) at t.value (apexcharts.min.js:6) at i.value (apexcharts.min.js:6) at i.create (apexcharts.min.js:6) at apexcharts.min.js:6 at tt (apexcharts.min.js:6) at new U (apexcharts.min.js:6) at i.value (apexcharts.min.js:6) at RenderHeatmap (rss:636

[2020-02-14 23:32] GiganteX opened #381 "Sorting on Services page"
I'd like to have sorting on the Services page, so that I could click on Status and get the OFFLINE services at the top, or click on Group so that I could get the services sorted by group. Or Name. Well, just sorting. That would be very useful.

[2020-02-14 23:43] GiganteX opened #382 "Editing port on UDP Service"
I created an UDP Service, then edited it, and found that the port number is not visible and can thus not be changed.  If I change Service Type to something else, like HTTP for example, and then back to UDP... there it is. TCP Port. And TCP Port? It should be UDP Port by the way...

[2020-02-15 03:23] FanyangMengDev commented on #346
@l0nax Thank you for your response, finally.

Now the only ways to solve this issue is clear the table 'failure' and 'hits' every week at midnight. Then when you wake up you can see the normal charts with normal speed.

Hope you can add a function which allows users to choose how many days do they wanna keep the hits and failures data. As for me I prefer one week.'

[2020-02-15 05:56] ksarnelli opened #384 "Disable TLS/SSL option does not work in Email notifier"
**Describe the bug**
Setting the "Disable TLS/SSL" option to "true" does not work when using a non-SSL/TLS SMTP relay.  The produced error is: "x509: certificate is valid for _redacted_, not _redacted_".
I looked through the code in notifiers/email.go, currently (note that for some reason ApiKey is the variable name for the SSL/TLS setting):

[code]
and after reviewing the spec for go-mail/mail th

[2020-02-15 11:33] GiganteX opened #385 "auto refresh of page?"
The main page of statping doesn't seem to refresh automatically? I'd like to have it always up on one monitor and be able to take a quick glance on it to see if everything is up, but that won't work if I have to refresh the page manually. Could you please implement an auto refresh of the page, on an adjustable interval?
(Preferably don't reload the entire page as that would be distracting and draw

[2020-02-15 11:36] GiganteX opened #386 "Disable glowing buttons"
I'd like to have an option to disable the slight glow of the ONLINE/OFFLINE buttons. If nothing is going on I want the page to be absolutely still as to not draw my eyes to it. I have a lot of monitors and a lot of things going on simultaneously. When I see something happening in my peripheral vision I am tempted to take a look and that could mean that I miss something else. Well, you get what I m

[2020-02-15 12:49] DanielRuf opened #387 "users of statping"
Not a bug but an issue to collect some feedback of users and have some overview who uses it in production =)

I use statping to have an overview of a few services that I host and my own blog.
Thanks to statping I became aware (again) that one of the hosters seems to do some maintenance work or similar at 4am.

https://status.daniel-ruf.de/

If it works great in the upcoming month I will set it up

[2020-02-15 14:26] texh commented on #387
I've been running it for just over a week (docker + sqlite)

Set up one little instance to monitor a client's services (blog/live chat/forums) and link to it from our CloudFlare "this website is down" page - he loves it.

Also running it for "my stuff"/other stuff at [statping.carrotlabs.net](https://statping.carrotlabs.net) . So far so good, but I'll worry about #346 and some other things in time

[2020-02-15 14:48] DanielRuf commented on #346
Some data retention feature makes definitely sense. Or do not fetch all rows from the database table.

[2020-02-15 14:57] DanielRuf commented on #346
I see there is some "maintenance" method which deletes hits and failures older than 7 days:

https://github.com/hunterlong/statping/blob/15063734a5db9f1578e7a6f1710648968f600452/dev/README.md#func--databasemaintence

[2020-02-15 15:24] nahanil commented on #387
I've been running it for just over a week (docker + sqlite)

Set up one little instance to monitor a client's services (blog/live chat/forums) and link to it from our CloudFlare "this website is down" page - he loves it.

Also running it for "my stuff"/other stuff at [statping.carrotlabs.net](https://statping.carrotlabs.net) . So far so good, but I'll worry about #346 and some other things in time

[2020-02-15 16:41] l0nax commented on #346
The function `DatabaseMaintence()` does say it deletes everything off the last _7 Days_ but it doesn't. It deletes all records which are older than _3 Months_.

In `core/database.go` on Line _282_ it subtracts _3 Months_ from the current time and not _7 Days_ as described in the Comment: https://github.com/hunterlong/statping/blob/48f5a8825356ae8488702a4f4c83d200d2d0a6fa/core/database.go#L282-L284

[2020-02-15 17:05] DanielRuf commented on #346
Definitely.

I do not know any Go so this was just an assumption that the method should do what it says in the comment.

[2020-02-15 17:07] DanielRuf commented on #346
Ah I had linked an old version of the code. The new comment says "3 months". See https://github.com/hunterlong/statping/commit/fb51183477c40f23de74ea29afca92ee839c19d3#diff-4c7545d11c6a82edf450a9b4c870e502L202

Anyways, this should be configurable and be 7 days by default or so.

[2020-02-15 17:08] l0nax commented on #346
I'm currently working on a PR which makes this value configurable: https://github.com/l0nax/statping/tree/feature/346-data-keep-time

[2020-02-15 17:34] l0nax commented on #382
@GiganteX could you please provide Screenshots? This would be nice 😄

[2020-02-15 17:36] l0nax commented on #381
You can sort the Services.
When you are in the _Services_ tab you can re-arrange the Service-Order.

[2020-02-15 17:37] l0nax commented on #385
Would it be okay if the page reloads when the state of an service changes – instead of reloading the page every `n` seconds?

[2020-02-15 17:40] l0nax commented on #346
@hunterlong could you please add the `bug` label to this Issue?

[2020-02-15 17:42] l0nax commented on #346
@FanyangMengDev are you using SQLite as your Database?

[2020-02-15 17:47] l0nax commented on #387
@DanielRuf what would you say if we implement [sentry.io](https://sentry.io) into this Application?
This gives us the possibility to not only better debug the Application and understanding Errors/ Crashes but also we can get _User Feedback_ – it's a feature of _Sentry_.

I/ We (at work) are using _Sentry_ very often and it's a really great tool.
And if I remember correctly then they are giving a p

[2020-02-15 18:03] FanyangMengDev commented on #346
No, I am using MySQL now

[2020-02-16 02:10] GiganteX opened #389 "Auto-sort groups on main page"
My list of services is pretty dang long, too long to view without scrolling.
I'd like the list of groups and services on the main page to auto-sort like this:
First: Groups that have one or more failed services, sorted by name
After: The rest of the groups, sorted by name
In each group I also want the services to auto-sort by failure and then by name.
That means I always have the most pressing con

[2020-02-16 02:10] GiganteX commented on #381
Yeah I mean to have them instantly sorted by clicking one of the column headers.

[2020-02-16 10:36] l0nax commented on #381
Ah ok, sorry for misinterpreting.

But I can not see a real purpose to sort it directly in the Web UI, because it will not be persistent.

[2020-02-16 22:16] djmaze commented on #353
Same here.

[2020-02-16 23:31] djmaze commented on #353
I implemented a fix in the linked PR.

[2020-02-17 14:00] l0nax commented on #346
@FanyangMengDev @jamiew0w I finished the implementation of that feature/ bug-fix. Could you please test if works for you?

[2020-02-17 14:12] l0nax commented on #355
@kalodis can this Issue be closed, since @DanielRuf has answered your Question?

[2020-02-17 15:04] l0nax commented on #378
@DanielRuf could you please check out if my fix on [l0nax:bugfix/378-delete_failues_api-fix](https://github.com/l0nax/statping/tree/bugfix/378-delete_failues_api-fix) does resolve this Issue?

PR: #392

[2020-02-17 15:37] l0nax commented on #367
@iankaufmann This is because you have to use `file_get_contents('php://input')` instead of `$_POST` or `$_REQUEST`.

`$_POST` or `$_REQUEST` is a wrapper around the RAW-Data. If you now set `Content-Type` to ie. `application/json` – which `statping` does automatically: https://github.com/hunterlong/statping/blob/48f5a8825356ae8488702a4f4c83d200d2d0a6fa/core/checker.go#L213-L214 – then PHP does not

[2020-02-17 15:37] l0nax commented on #367
@iankaufmann @hunterlong can this Issue then be closed?

[2020-02-17 16:09] FanyangMengDev commented on #346
Of course mate, thank you so much for your hard working, I can test it

[2020-02-17 17:37] iankaufmann commented on #367
Hey guys, thanks for the info.  I see that I can get it from reading the raw data.

However, does that not mean that I should be able to add this to the headers?
Content-Type=application/x-www-form-urlencoded

or
Content-Type=multipart/form-data

I have tried both, and neither give me the $_POST data.  I guess that is due to "application/json" being hardcoded into the request, so there is no way t

[2020-02-17 17:42] SebastianStehle commented on #346
I am not sure if you are solving the right problem. 80MB is nothing, it looks more like a missing index or bad queries. For example I think MySQL has no index support for descending sorting. What we did in another project was to add "reverse" timestamp. Time to the year 10.000 instead time from 1970.

[2020-02-17 17:50] l0nax commented on #367
I will fix this the bug that you can not overwrite `Content-Type`.
But please it seems like that your Application is using PHP wrong because you are sending and processing JSON and when you now set `Content-Type` to (ie.) `multipart/form-data` and send as data `{"username":"test","password":"test"}` then PHP will not be able to parse this – I think.

So, yes the `Content-Type` is a bug that must b

[2020-02-17 17:52] l0nax commented on #367
@hunterlong can you please assign the `bug` label, since `Content-Type` can't be overwritten?

[2020-02-17 17:59] l0nax commented on #346
What problem does it solve using a "reverse timestamp" – I never heard or seen something like this.

[2020-02-17 18:06] SebastianStehle commented on #346
I could not find a better article, but it explains the problem: https://explainextended.com/2010/11/02/mixed-ascdesc-sorting-in-mysql/

Just one example for a problem you might face...

[2020-02-17 18:09] SebastianStehle commented on #346
If you still have an example running where everything is slow it might be worth to get a list of all slow queries on the DB and analyze them.

[2020-02-17 18:21] l0nax commented on #346
@SebastianStehle I know.

It's on my to-do list since a while because I'm facing many issues with the current implementation of some parts. We have to profile the application and fond the slow points of it. But I hadn't the time for it, because I'm currently also implementing the _v1.0.0_ of kubenab – which I want to release this month. But I will start investigating the performance problems tomor

[2020-02-17 20:02] SebastianStehle commented on #346
If someone can upload a backup of a big database I can also have a look.

[2020-02-17 20:07] iankaufmann commented on #367
I don't know, maybe I'm not explaining my side well :)

I am just trying to simulate an actual form post and I figured it would be simple.  The app framework checks $_POST for all of it's logic and validation.  I know that in order to receive the data as JSON that I'd need to change some things, but I was hoping to be able to have statping post the same way that the form on the frontend does.

I d

[2020-02-17 21:26] l0nax commented on #346
I can check if I can publish my DB which is in use for now 6 months, so we would have 3 months of Data to test. If it's not possible I think it isn't a big deal to generate the Data.

[2020-02-17 21:27] l0nax commented on #367
Ok, thanks for the clarification.

I will start ASAP for that bug fix :)

[2020-02-17 21:51] DanielRuf commented on #346
My assumption so far is that the JS heap is full or it is too much data for the browser to process. We need some deeper analysis of a full profile.

[2020-02-18 13:16] l0nax commented on #367
I've fixed it, you can checkout out it here: https://github.com/l0nax/statping/tree/bugfix/367_content-type_not-changeable

Pull-Request: #394

[2020-02-18 16:12] azah commented on #282
@l0nax sorry I stopped using statping due to enother issue. It kept on timing out on requests to my server (I had it just watch a website for HTTP 200 or whatever), so I got a lot of bogus requests that my service was down when it was not.

[2020-02-18 16:23] cdemi commented on #223
This is something I would really appreciate. Right now I have a hude amount of false positives

[2020-02-18 16:42] l0nax commented on #282
Ok, could you then please close the Issue?

[2020-02-18 16:43] #282 closed

[2020-02-18 16:43] #284 closed

[2020-02-18 16:43] #283 closed

[2020-02-18 16:44] l0nax commented on #223
@cdemi The false-positives are because there are several Bugs which I'm currently searching and fixing.

[2020-02-18 16:44] l0nax commented on #223
@hunterlong could you please assign the `planned feature` and `feature` label to this Issue?

[2020-02-18 16:45] cdemi commented on #223
Fair enough. If you need some debugging information/logs to help you out, I can supply some.

Thanks for your work!

[2020-02-18 19:12] GavinRay97 commented on #238
Also having this issue :slightly_frowning_face:

[2020-02-18 19:16] GavinRay97 commented on #238
Nevermind, I just had to log-out/log-in again :sweat_smile:

[2020-02-18 21:56] GavinRay97 commented on #363
I support what @DanielRuf mentioned. You could also consider Luxon, which was made by the same person who created Moment and has a similar API but a much smaller size if you feel most comfortable with Moment's syntax.

https://moment.github.io/luxon/

And if you only want timezone parsing, you can get away with using the the native browser API.

There is also a lesser-known datetime lib called Spa

[2020-02-19 01:24] jas-sd opened #395 "Statping quits when i close CLI"
Hi There,

I am using Statping 0.80.70.

I have installed on my raspberry pi using the instructions on your page. I am able to successfully open Statping by going into CLI and typing in "statping".

I see a verbose output where all my pings are showing, live as they happen.

As soon as i close the CLI window, i am no longer able to access Statping, the application gets shut down.

Do you know wher

[2020-02-19 06:32] l0nax commented on #395
This is because the `statping` process  is started as Child of your Terminal/ SSH session. If the mother process gets killed also their sub-process'es are getting killed.
So you have to start the process as separate process ie. by starting it via SystemD or a other init-system.

Or run it directly in docker.

[2020-02-19 08:06] l0nax opened #396 "correct/ better CHANGELOG.md"
**What would you like on Statping?**

I'm really missing a real and consistent `CHANGELOG`.
Currently, you are adding the Commits - and Commit-Titels - to a release.

Since - when following a good Commit practice - this will not work and does _not_ show what changes have been done to the new Version.

**Describe the solution you'd like**

Since we needed something like this in our internal project

[2020-02-19 08:38] sebastientaggart commented on #259
+1 for this feature.  My use case is that I want to check that the 301 itself is present and functioning correctly (not that the target of the redirect is up).

[2020-02-19 09:19] l0nax commented on #259
@hunterlong could you please assign the `enhancement` and `planned feature` label to this Issue?

I will implement it when I have time - I hope that I don't forget it.

[2020-02-19 15:52] l0nax commented on #357
@TheChiefMeat any updates about your problem?

[2020-02-19 16:34] NRay7882 commented on #387
We use it internally to get an early warning or spot check our own hosted applications and our 3rd party providers. In total, we have about 50 different services.

I'm hoping to enhance it's capabilities in Production for us by allowing our engineers to use the API in their build / deploy operations, that way if an outage with Github or AWS is currently detected it can stop the jobs and let the en

[2020-02-19 16:36] SUP-SIM opened #397 "Bug CSS"
I'm using version: 0.80.70

When I want to use the theme editor via GUI it does not update the CSS, but displays the new value in the GUI

[2020-02-19 16:42] l0nax commented on #397
@hunterlong could you please assign the `help wanted` label to this Issue?

[2020-02-19 16:43] l0nax commented on #397
Do you have cleared your browser cache?
If yes, could you please provide more details about your Issue?

And it would be super nice if you use the Issue templates the next time you create an Issue.
This helps us and you a lot to better understand your problem – because you can then simply fill-out what's requested :)

[2020-02-19 17:43] DanielRuf commented on #387
@NRay7882 see https://github.com/hunterlong/statping/issues/346 regarding the performance. There is also a PR which should improve that with a new data retention setting.

[2020-02-19 18:27] jas-sd commented on #395
Thank you so much @l0nax this has fixed my issue, also weirdly my Discord notifications are no working, could never get them working before.

Thanks
Jas

[2020-02-19 18:27] #395 closed

[2020-02-19 18:28] l0nax commented on #395
Could you provide more details about this Problem?

[2020-02-19 18:31] jas-sd commented on #395
Sorry i meant that my notifications are now working. Before when i entered by web hooks URL i got an error message. Now they work perfectly :)

[2020-02-19 18:34] l0nax commented on #395
Ah ok, sorry for misinterpreting ^^

[2020-02-19 19:03] GavinRay97 opened #398 "Unintended consequence - production app reboot cycle due to 1 minute minimum interval"
**What would you like on Statping?**
Ability to set lower intervals on notifiers. We have an app that crashes a few times a week, at unpredictable hours and frequencies, and I used the bash failure notifier as a way to reboot the app on crash:

![image](https://user-images.githubusercontent.com/26604994/74865489-2cdd1780-531f-11ea-9408-79d11d9e950f.png)

The problem is that, I didn't think about t

[2020-02-19 19:52] l0nax commented on #398
There's an alternative: A feature called "Notify user only on Service-State change" implemented with PR #258.

Enable it under `Settings -> Notifications` so you will only receive messages on your notification channel(s) when:
- your Service goes down.
- your Service is reachable again.

[2020-02-19 20:46] GavinRay97 commented on #398
@l0nax Ahh okay, fantastic. Will give that a try then, thank you!

[2020-02-19 23:33] nielswind commented on #95
Removing trailing slash from returned URL by qrcode scan worked for me.

[2020-02-19 23:46] Leopere commented on #95
Can I do multiple servers on the iOS app one day?

[2020-02-20 05:38] Saicasm opened #399 "Feature for On Scroll load data"
**What would you like on Statping?**
Feature for on scroll load data or pagination for dashboard and index page. All the services are loaded at once resulting in delay to load the pages , rather than that it would be better if the services and graphs are loaded while scrolling down

**Describe alternatives you've considered**
My approach would be to call an api which fetches data whenever the scro

[2020-02-20 07:04] l0nax commented on #399
Could you provide more information?
We can not help if you do not provide more information, ie. your Code and other Changes you have made.

[2020-02-20 10:51] Saicasm commented on #399
This is my api call in routes.go
`r.Handle("/api/servicespagination/{x}/{y}", readOnly(apiAllServicesHandlerPagination, false)).Methods("GET")`

services.go in handlers
[code]

function  services.go in core
[code]
This is my Ajax call in frontend
`   $.getJSON("/api/servicespagination/"+x+"/"+y , function(result))`
The response is of Json array ,so how do I display this response in the index.gohtm

[2020-02-20 10:59] SUP-SIM commented on #397
1. I'm using version: 0.80.70
2.I went to the theme editor page to modify values (Ex $ max-width: 1680px;)
3. Press this button "Save style"
4. And the modifications are not applied despite the emptying of the case under chrome in developer mode. Returning to the theme editor page, the new value is taken into account. Going to explore the file
/usr/local/bin/assets/css/base.css this does not conta

[2020-02-20 13:03] l0nax commented on #397
What is this? Log messages or the output of a command you executed?

Can you please use Markdown (especially the [Syntax highlighting](https://guides.github.com/features/mastering-markdown/)), this helps a lot.

Also, could you provide your _complete_ logs?
I have tried it but I'm not able to reproduce your situation.

[2020-02-20 13:20] l0nax commented on #399
In JS there's an event called [`scroll`](https://developer.mozilla.org/en-US/docs/Web/API/Document/scroll_event) which gets fired when the user is scrolling.
Then you can simply use your Ajax call and append the other data.

Here a sample JS Code:
[code]

Live example: https://jsfiddle.net/uaeohvsp/

---

But I'm not sure if this issue is related to a problem with `statping`.

[2020-02-20 13:30] SUP-SIM commented on #397
The output of a command I executed. To control the write rights on the CSS file.

[statping.log](https://github.com/hunterlong/statping/files/4230917/statping.log)
[statping-2020-02-19T08-55-03.868.log](https://github.com/hunterlong/statping/files/4230918/statping-2020-02-19T08-55-03.868.log)
[statping-2020-02-19T09-42-55.198.log](https://github.com/hunterlong/statping/files/4230919/statping-2020-

[2020-02-20 14:13] luismanson opened #400 "Graphs are a day behind"
**Describe the bug**
All graphs I see shows data from yesterday. I tried to zoom the graph and check browser request log, it has an old epoch in it too.

**To Reproduce**
check latest time in a graph point
Latest graph data: Feb 19, 11pm (2020-02-19T20:00:00-03:00)
Current date: 20/02, 10.40am (GMT-3)
Request URL: /api/services/9/data?start=1582121238&end=1582166087&group=hour

**Expected behavior

[2020-02-20 14:26] l0nax commented on #397
As you can can see in your log of `statping.log`:
[code]

Could you run the command manually and post the Output?

And, under which user is `statping` running?

[2020-02-20 14:28] l0nax commented on #400
Did you reload the page?
If yes, could you re-try it by pressing `Strg + F5`.

[2020-02-20 14:34] zeeZ commented on #348
For `BASE_PATH: monitor`:

[code]

Some observations:
* `BASE_PATH` cannot end with a `/`
* no trailing `/` in `proxy_path`. This makes external requests to `/monitor/1234` hit `/1234` on the backend
* no trailing `/` in the location. nginx will try to redirect you to `/monitor/` while statping redirects you to `/monitor`
* The `Admin Dashboard` link at the bottom

[2020-02-20 15:06] luismanson commented on #400
I just tried 'Ctrl+R' (Firefox) in an incognito window, same information displayed

[2020-02-20 15:53] SUP-SIM commented on #397
`[root@localhost ~]# sh -c sass /usr/local/bin/assets/scss/base.scss /usr/local/bin/assets/css/base.css  type=source
/usr/lib/node_modules/sass/node_modules/chokidar/index.js:151
  async remove(item) {
        ^^^^^^

SyntaxError: Unexpected identifier
    at createScript (vm.js:56:10)
    at Object.runInThisContext (vm.js:97:10)
    at Module._compile (module.js:549:28)
    at Object.Module._exte

[2020-02-20 15:58] l0nax commented on #397
Please execute the command _without_ `type=source`

[2020-02-20 15:59] SUP-SIM commented on #397
[code]

[2020-02-20 16:00] l0nax commented on #400
What do you mean with this?

[2020-02-20 16:58] l0nax commented on #397
How did you install `scss`?

[2020-02-20 17:48] luismanson commented on #400
Sorry, im refering to the url parameters 'start' and 'end'
start: 1582121238 (Wednesday, February 19, 2020 11:07:18 AM GMT-03:00)
end: 1582166087 (Wednesday, February 19, 2020 11:34:47 PM GMT-03:00)

[2020-02-20 18:07] Saicasm commented on #399
I get what you are trying to project , my issue is regarding appending the data to the templates . How do I append the javascript object to the template function  like "{{range VisibleGroupServices }}" which iterates over the div tags which already has the styling and graphs .

The reason i'm looking for the on scroll load data is cause there is a considerable lag in the loading the pages like das

[2020-02-21 00:19] hunterlong commented on #399
Great idea, i'll be implementing this into the Vue branch. It is almost done!!!

To try out the Vue version, use docker image: [hunterlong/statping:vue](https://hub.docker.com/repository/docker/hunterlong/statping)

[2020-02-21 06:30] Saicasm commented on #399
Thanks for supporting..
I tried running the docker image but it says

[2020-02-21 08:36] SUP-SIM commented on #397
As indicated in the documentation via the command npm install sass -g

[code]

[2020-02-21 10:28] l0nax commented on #397
Can you please post the Command output of `uname -a`?

[2020-02-21 10:31] SUP-SIM commented on #397
[code]

[2020-02-21 11:07] zeeZ commented on #346
Using postgres, I've manually created an index on hits:
[code]
This seems to have sped up page load quite a bit.

A quick check with with `pg_stat_statements`, these now seem to be the heaviest hitters for page load with my current index situation:

[code]

Each of those is executed *once per service* on main page load.

[2020-02-21 11:15] l0nax commented on #397
Could you try to test if it works by installing the `rubygem-sass.noarch` via `dnf install rubygem-sass.noarch`.

And then rerun the Command from above – but note that you have to check if you are calling the NPM sass version or the previously installed one.

[2020-02-21 11:54] hunterlong commented on #399
@Saicasm , I’ll look into this. But this feature HAS been implemented in the vue branch. 👍

[2020-02-21 11:56] DanielRuf commented on #346
Yes, should be `COUN(id)`.

[2020-02-21 12:23] okainov commented on #348
@zeeZ  I'm not sure were you asking someone or stating something, but just a few comments:

This should not be like this. I cannot really find the reference, but IIRC canonical way to set up proxy pass redirect is exactly via proxying to something like `http://127.0.0.1:8080/`. For the backend it should be zero difference whether running in a subfolder or not.

This is very bad, location should al

[2020-02-21 13:08] zeeZ commented on #386
The glow animations are all CSS, so you can get rid of them by editing the base theme in settings:

* to disable the pulse (grow/shrink) animation, comment out (`/*` `*/`) or remove the whole `.pulse` block near line 430
* to disable the glow animation, comment out or remove the `pulse-glow:before,.pulse-glow:after` block near line 460

[2020-02-21 13:44] SUP-SIM commented on #397
Thx a lot !

With this command `dnf install rubygem-sass.noarch` it works immediately.

Thank you for your help and reactivity !

[2020-02-21 13:44] #397 closed

[2020-02-21 15:09] gcotone commented on #311
:+1: on this. We'd love to have a degraded state by defining a second threshold/check.
If you agree, let me know if you'd like some help to implement it.

[2020-02-21 18:39] hunterlong commented on #396
hey @l0nax , you're 100% correct on the improvements on the CHANGELOG file. I've been working on the new [vue branch](https://github.com/hunterlong/statping/tree/vue), and it's almost ready. I'll be sure to keep the CHANGELOG up-to-date.

[2020-02-21 18:40] hunterlong commented on #385
I've been looking into how we can have live updates based on the check interval for a service, the new Vue updates might be able to handle this easier. Page shouldn't reload, it should send a request to update graphs based on service check interval.

[2020-02-21 22:46] hunterlong commented on #363
Hey @GavinRay97 and @DanielRuf , I’ve removed moment.js and replaced with date-fns. Only issue I currently see is converting local time to UTC.

The database records everything in UTC, but when local user fetches chart data, there may be missing hours since its converting local time to Unix timestamp for graphs. Still looking into it.

[2020-02-21 22:49] hunterlong commented on #371
Vue version is almost done. I might be pushing to latest in a day or so.

[2020-02-22 01:05] GavinRay97 commented on #363
@hunterlong Modern browsers automatically convert UTC timestamps to localized time (you may or may not be aware of this), it is a huge pain-point in development especially if you work on international products that require impersonation to view timestamps as they were in the client timezone.

You can actually use the native JS Date API for a lot of this in recent years:

[code]

I dunno if this he

[2020-02-22 04:56] ebdavison opened #401 "Need to reset password with sqlite3"
**Describe the bug**
Lost access to the dashboard password (admin user) and need to reset it.  Using SQLite3 however in the docker container and there are no sqlite3 binaries to be found.

**Needs/Wants**
I need a way to reset the password in the docker container.  I know I can do a `docker cp <id>:/app/statup.db .` and the use sqlite3 to update it and copy it back but that does not seem to work.

[2020-02-22 04:59] ebdavison opened #402 "Backup/Restore/Migrate"
**What would you like on Statping?**
I would like the ability to backup a statping and then be able to restore it either a) after a critical failure of system or b) when migrating to a different hosting provider.  The history of the monitoring is very important and despite how easy it is to start over.

**Describe the solution you'd like**
I would like either the steps to backup the docker contain

[2020-02-22 05:18] hunterlong commented on #363
Ya @GavinRay97 , you're totally right. I've been worrying/looking at timestamps for far too long. I just tested UTC from frontend to backend on new Vue version, and it works.

<p align="center">
<a href="https://www.youtube.com/watch?v=0F2R7S14SO0"><img width="350" src="https://user-images.githubusercontent.com/7519499/75086976-5056bc80-54ef-11ea-87b7-559b50ec7de6.gif">
<br>hey guys, nice Illanka<

[2020-02-22 09:01] okainov commented on #396
I don't want to offend @hunterlong, but IMO having clean changelog is tightly coupled with having clean commit history. Because no one wants to maintain changelog manually, it should be generated automatically (see i.e. [standard-version](https://github.com/conventional-changelog/standard-version)). However current commit history is a real mess. I think you should start with introducing proper com

[2020-02-22 09:21] okainov commented on #387
@DanielRuf we use it internally in our company, really liked the simplicity, so statping can be run it naturally one click (`docker-compose up -d`) and super easy to set up. And from the very first day it started to be useful, we also found out and localized daily downtimes for one of the services we're using.

Currently we have ~10 services in our instance.

[2020-02-22 16:50] hunterlong commented on #402
Hmm... this feature used to be there. It would allow you to download an export of all the services, users, messages, core settings, etc, as a JSON file that could then be restored.

It did not includes service uptime data or failures though.

If you want to copy the SQLite database file, make sure the Statping server is completely turned off/shutdown, then copy. It will most likely have issues if

[2020-02-22 20:59] jamiew0w commented on #346
Sorry I haven't been around to test @l0nax , I can confirm though that creating the index on mysql also improves performance immensely. Great find @zeeZ !

[2020-02-22 21:27] zeeZ commented on #348
@okainov just an observation on how it works right now.

There are some other issues with base path right now that I've seen:
* initial setup redirect uses /...
* reordering of services still tries to use /api...

[2020-02-22 21:29] DanielRuf commented on #346
Can you tests how much faster it is with using `COUNT` on fields with an index like `id`?

[2020-02-22 21:45] zeeZ commented on #346
I'm not a DB wizard, but as far as I know `COUNT(*)` lets the optimizer optimize and pick the best column to count on, preferably using a fitting index. So from my limited knowledge it shouldn't matter performance wise as long as your indices are optimal.

[2020-02-22 22:28] DanielRuf commented on #346
It depends. Anyways, `*`is always worse.

[2020-02-22 22:28] DanielRuf commented on #346
It depends. Anyways, `*` is never a good idea.

[2020-02-23 00:01] ebdavison commented on #402
OK, I have not found this in the menus.  I think a copy of the SQLite file itself would be sufficient.

I tried to shell into the docker container and stop the statping app but when I do that, the docker container crashes.  It looks like statping is running as PID 1 which explains why the container crashes if it goes away.

So, how would I copy to the docker container with statping not running?

[2020-02-23 06:53] Saicasm commented on #399
I looked into the docker image and yea its working man, Thanks again
i tried cloning the repo and i have some issues while building the vue repo

Can you help me sort this one out, I tried to google and fix it but none helped .

[2020-02-23 09:12] SebastianStehle commented on #346
Is there no other restriction on this query? Are we querying all hits since beginning of time, basically? I think there should be some kind of aggregation. Average per 30 minutes or so for charts over long time ranges.

[2020-02-23 09:39] DanielRuf commented on #346
I saw no restriction in the sourcode regarding the hits retrieval.

[2020-02-23 09:40] DanielRuf opened #403 "secure secret generation (math/rand => crypto/rand, no pseudo sha1)"
**Describe the bug**
It seems there is some pseudo sha1 used which is not really secure:
https://github.com/hunterlong/statping/blob/48f5a8825356ae8488702a4f4c83d200d2d0a6fa/core/database.go#L183

**Expected behavior**
A cryptographically strong algorithm is used to generate these values, at least `crypto/rand`.

[2020-02-23 10:19] SebastianStehle commented on #346
So for a service that gets polled every 10 seconds this means 60.480 records for a 7-days chart.

[2020-02-23 10:21] SebastianStehle commented on #346
The graph shows the last 7 days with a resolution of 1 hour = 168 records. I think we should maintain a second table with aggregated values.

[2020-02-23 10:22] GhaziTriki opened #404 "Add Zulip Notifier"
It would be nice to have an official Zulip notifier.

https://zulipchat.com/api/integrations-overview

[2020-02-23 12:44] l0nax commented on #401
Since the Passwords are saved in the Database the Password can not be reset by copying the Database out of the Container and

[2020-02-23 12:54] l0nax commented on #396
Using Commits as Changelog Entries isn't best practice @okainov.
I agree with you that a clean commit history is essential.

Because of this, I've created the `changelog-go` tool.

[2020-02-23 13:47] DanielRuf commented on #346
There is already `SUM(field)` used with the queries.
Normal SQL servers are pretty good with caching queries and optimizing it.

An aggregation table means that the data has to be written twice and the aggregated data updated everytime.

save hit => recalculate aggregated data

So write queries would be more in this case. And for read we need both, the time series plus the aggregated values I thin

[2020-02-23 16:02] zeeZ commented on #403
The whole thing is a bit weird. It uses a 9 random character string (16 random characters for the api secret one line below) and feeds that into sha1 to generate a random-ish 20 byte value. sha1 isn't really the problem here.

This could probably instead use `crypto/rand` with something like
[code]

[2020-02-23 16:17] DanielRuf commented on #403
You are right. At least this should be done for generated values, exactly. And if some hashing is needed it should be sha256, bcrypt or better.

https://github.com/hunterlong/statping/blob/master/utils/encryption.go

[2020-02-23 16:19] DanielRuf commented on #403
I have updated the description to reflect that. Nonetheless, sha1 or just 9 bytes is not enough entropy.

[2020-02-23 16:35] DanielRuf commented on #396
There should be already some SemVer changelog solutions. In the JS ecosystem we use specific commit messages with `type: description`which is enforced by commitlint and other tools.

[2020-02-23 16:36] DanielRuf commented on #396
There should be already some SemVer changelog solutions. In the JS ecosystem we use specific commit messages with `type: description` which is enforced by commitlint and other tools (even on CI and so it's also working for PRs and normal commits).

[2020-02-23 16:37] DanielRuf commented on #396
:+1:

[2020-02-23 16:39] DanielRuf commented on #396
Oh ok I see

https://github.com/hunterlong/statping/commits/vue

Commits should be labeled `when this commit is applit it will ... fix calculation of uptime value` where only the text after `...` should be the commit title / message.

[2020-02-23 16:42] DanielRuf commented on #401
I guess this is not what he meant. The filesystem of a container is persisted on diski It should work this way. He meant to update the db / sqlite file directly.

[2020-02-23 16:42] DanielRuf commented on #401
I guess this is not what he meant. The filesystem of a container is persisted on disk. It should work this way. He meant to update the db / sqlite file directly.

[2020-02-23 16:50] ebdavison commented on #401
Maybe it is an lack of experience on my end but if the container is not running, how do I copy in/out of the conainer.  The password string for `password` would be perfect if I could get the DB file out, fix it and and then copy it back.

[2020-02-23 16:55] DanielRuf commented on #401
It should work also in this case. `docker ps -a` should show it.

https://stackoverflow.com/a/38356081/753676

[2020-02-23 19:05] ebdavison commented on #402
I think I figured out how to cp to/from the stopped container.  let me see if I can get this to work.

[2020-02-24 05:59] Saicasm commented on #399
Update :
Its fixed and its working ...
Thank you for the support

[2020-02-24 05:59] #399 closed

[2020-02-24 09:38] Saicasm commented on #363
Hi, So i've been testing the application for a while and i found some bugs....

- View service won't display anything after hitting refresh

- Graphs not rendering on index and dashboard page

- When a single group name is changed other group names are also being changed .

[2020-02-24 09:43] DanielRuf commented on #363
Please create issues for this and check the open issues if there are already some which describe your problems. I think these are known. See #372 and others (you may have to wait a few hours or days until the chart works and displays the data). And also please provide the statping version that you use in your issues.

[2020-02-24 20:10] chrishare08 opened #406 "AWS AMI ec2-ssl.sh script error"
The ec2-ssl.sh script provided on [https://github.com/hunterlong/statping/wiki/AWS-EC2](https://github.com/hunterlong/statping/wiki/AWS-EC2) doesn't execute on the AWS AMI provided for statping.  The file /var/log/user-data.log shows the following errors:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Open the AWS console.
2.  go to EC2
3. launch an instance
4. search for statping t

[2020-02-25 09:32] hunterlong commented on #406
I currently don’t recommend using the Statping AMI Amazon image. Sorry, I’ve been working on the new front end, (branch: vue). And It seems to be a 1 man team. Lots of awesomeness. 💃

For an EC2, I recommend installing the statping binary directly from the releases page on GitHub, then running supervisord to control. I’m pretty sure I typed something up for supervisord in the wiki.

[2020-02-25 09:33] hunterlong commented on #406
Once I’m done doing the updates, I’ll be sure to update the AMI on all regions. From what I remember... it downloads from the latest release.

[2020-02-25 09:35] hunterlong commented on #404
Creating a notifier is pretty easy if you read the wiki and know a little Golang. I’d say 85% is a copy n pasta from the wiki and examples.

If not, I’ll add this as a feature.

[2020-02-25 09:39] hunterlong commented on #400
I believe I fixed this issue in the upcoming release. I’ve confirmed timestamps on all 3 databases. (MySQL, Postgres, SQLite)

[2020-02-25 14:14] luismanson commented on #400
Thanks, will confirm

[2020-02-25 14:19] chrishare08 commented on #406
Unfortunatelym the [https://github.com/hunterlong/statping/wiki/AWS-EC2](https://github.com/hunterlong/statping/wiki/AWS-EC2) only discusses using the AMI.  are there instructions somewhere else?

[2020-02-25 15:31] chrishare08 commented on #406
okay - I have the stastping binary installed and running on an EC2.  set up as a system service.  I can't find any docs on how to run statping with apache serving the SSL.  Can you point me to some?

[2020-02-25 15:49] #406 closed

[2020-02-25 15:54] chrishare08 opened #408 "Using apache as SSL endpoint for Statping"
The documentation doesn't describe how to use Apache to serve as the SSL endpoint for statping.

**To Reproduce**
Apache 2.4 running on port 443
statping server running on port 8080

**Expected behavior**
Some documentation or pointer to have Apache server as the SSL endpoint for statping.

[2020-02-26 05:10] hunterlong commented on #401
Anyway you can update the `password` value for the admin user using SQL? If you change the password in database to:

[code]

This will let you login using `password` as your password. [sqlitebrowser.com](https://sqlitebrowser.org/) has a free SQLite browser with an easy to use UI, and it's free.

[2020-02-26 05:19] hunterlong opened #409 "Join the Slack Channel!"
<a href="https://statping.slack.com/"><img src="https://user-images.githubusercontent.com/7519499/75314112-a8edc880-5813-11ea-82c8-1a6f01924423.png"></a>
<a href="https://statping.slack.com/"><h1 align="center">statping.slack.com</h1></a>

You should join the [Statping Channel](https://statping.slack.com/) on Slack! Anyone can join and you'll probably get a faster response since I'm on it all day,

[2020-02-26 05:41] hunterlong opened #410 "💬 Join the Slack Channel! 👋"
<a href="https://slack.statping.com/"><img src="https://user-images.githubusercontent.com/7519499/75315411-91184380-5817-11ea-89af-2b990203b466.png"></a>
<a href="https://slack.statping.com/"><h1 align="center">slack.statping.com</h1></a>

You should join the [Statping Channel](https://slack.statping.com/) on Slack! Anyone can join and you'll probably get a faster response since I'm on it all day,

[2020-02-26 14:28] NRay7882 opened #411 "Cannot Join Statping Slack Channel"
**Describe the bug**
When joining the Statping Slack, an error is displayed stating "Not a permitted channel".

**To Reproduce**
Steps to reproduce the behavior:
1. Follow the link from [https://github.com/hunterlong/statping/issues/410](https://github.com/hunterlong/statping/issues/410) to the Statping Slack join page. ([https://slack.statping.com/](https://slack.statping.com/))
2. Add an email a

[2020-02-26 15:17] NRay7882 commented on #202
Seeing the same issue with the Docker v0.80.71 build, according to the Slack Notifier settings the alerts are being sent but most of them are not displaying in the Slack channel.

Here's an example: Our JAMF, New Relic and Slack monitors should be sending notifications. They're all configured to allow notifications.
<img width="888" alt="Screen Shot 2020-02-26 at 10 02 28 AM" src="https://user-ima

[2020-02-26 20:39] norjen commented on #411
Got the same error

[2020-02-27 07:02] Saicasm opened #412 "Can't login as admin (Vue branch)"
**Describe the bug**
I cloned the latest build and after the initial setup , I tried to login as admin but it says incorrect credentials even though i verified it with the database.

**Expected Behavior**
Supposed to take to dashboard page

[![Gitter](https://img.shields.io/gitter/room/nwjs/nw.js.svg)](https://gitter.im/statup-app/general) [![GitHub release](https://img.shields.io/github/release/h

[2020-02-27 11:02] m333w opened #413 "Custom CSS"
Hi,

I hope i am in the right place. I woud like to hide the `header-title` and `header-desc` in the man page.
So i go in settings -> theme editor -> base theme, and i add :

[code]

But no change appear, how i can do what i woud like to do ?

Best regards.

[2020-02-27 12:10] l0nax commented on #413
Since `.header-title` and `.header-desc` are already defined in the default base theme, did you overwrite/ remove the default values?

If yes, could you then please provide your `statping` log?

[2020-02-27 16:20] m333w commented on #413
I feal idiot, sorry it whas my cache the problem ...

[2020-02-27 16:20] #413 closed

[2020-02-27 17:10] KeinNerd opened #414 "Heroku deployment failed"
I want to give statping a try on Heroku. But if i try to deploy statping i get this error:

[code]

Any Ideas how to fix it?

greets

[2020-02-27 18:10] theeddie opened #415 "icmp problems"
**Describe the bug**
icmp does not work, i add the service it says up, i then turn the machine i am pinging off and it still shows up

**Expected Behavior**
to show the machine down

[2020-02-27 21:24] m333w opened #416 "[Custom CSS] Highlight pointer"
Hi,

I woud like to disable the pointer highlight on my page.
I don't know anything about CSS, but I confess that after several hours of trying various things I resolve to ask you for help.

![alt text](https://images2.imgbox.com/23/77/pohAZLzK_o.png)

I cant do something similar ?
[code]
I hope my message will be understood.

Best regards.

[2020-02-27 21:59] l0nax commented on #414
As the output says: `note: module requires Go 1.13.5`.

Install a newer GoLang version.

[2020-02-27 22:00] l0nax commented on #415
Please provide more Information and - if possible - your log, because I'm unable to reproduce it.

[2020-02-29 01:13] seebeen opened #417 "SASS building not working"
**Describe the bug**

I'm running statping on Ubuntu 18.04, as a service under unprivileged user statping,
app basedir is set to /home/statping/app.
Using nvm to install node 10 LTS, and npm i -g sass to install sass builder.

Problem is the go app is trying to build sass with sh -c sass SASS_FILE CSS_FILE. If we bypass the sh shell and only use sass SASS_FILE CSS_FILE, it works as intended.

It w

[2020-02-29 01:16] seebeen commented on #372
Hoping to see this fix soon :D

[2020-02-29 23:00] MrMittensTheCat opened #418 "Error 1146: Table 'StatPing.core' doesn't exist"
I've been having trouble getting statping installed, everytime while trying to set statping up I get this error "Error 1146: Table 'StatPing.core' doesn't exist" I've checked the Database and for some reason it doesn't create this table.

I installed via docker and the MySQL database is hosted on the same docker machine.

[2020-03-02 01:10] ksarnelli commented on #411
same issue here

[2020-03-02 05:54] #412 closed

[2020-03-02 15:19] lammertb commented on #377
This happens on the following system:

CentOS Linux release 7.7.1908 (Core)
Intel(R) Atom(TM) CPU N2800   @ 1.86GHz
Linux www.example.com 3.10.0-1062.9.1.el7.x86_64 #1 SMP Fri Dec 6 15:49:49 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux

The most common error I see when using the verbose -4 option is:
`ERRO[0007]/ext-go/1/src/github.com/hunterlong/statping/core/hits.go:31 github.com/hunterlong/statping/

[2020-03-02 16:10] lammertb commented on #377
Added to this, I have now changed the check Interval for all services to be different. Before this, half of the check intervals were 60 seconds, the other half 20 seconds. Now the check intervals are 60,61,62,63,... etc and 20,21,22,23,... The inserts are back in the low milliseconds' range again with now and then a burst to 55 milliseconds. Nothing compared to the 3000 to 15000 milliseconds I saw

[2020-03-03 07:12] l0nax commented on #377
Thanks ^^ I will start ASAP working on this issue :D

[2020-03-03 15:45] lammertb commented on #377
Thanks. I ran into this same issue with a multi-threaded application which I wrote some time ago using SQLite. To solve it I moved all SQL write code to a separate thread and had the other threads message their inserts and updates to that thread. That application was in C though and I don't have enough knowledge of Go to know if this can be easily done in statping or how to do it.

[2020-03-03 18:31] hunterlong commented on #418
Are you on the latest version or Vue version?

[2020-03-03 18:52] hunterlong commented on #411
@ksarnelli , @norjen  Seems like there's some issues with the image I'm using, [slack.statping.com](https://slack.statping.com) is up and working again! I just tested it.

[2020-03-03 18:52] #411 closed

[2020-03-04 23:54] Chipx0 opened #419 "Text Only Services & Incidents"
First i just want to say Statping is the best status page i have ever used, however it is lacking in two main features that i need in order to fully switch to it.

1. Manual service, As in a service that is just text and you have the ability to manually change the status of "Online/Offline".

2. Apply a message to services that have issues. (Almost like  [#203](https://github.com/hunterlong/statpi

[2020-03-05 09:59] fynnsh opened #420 "Import Settings, not correct format (JSON / CSV BUG)"
In the Admin Panel under Main Settings\Settings is a Button on the Bottom named "Export Settings" this creates a json file and Downloads it. I did not find any Way to import this Back into a nother Statping Instance. There is only one possibility and thats over CSV. When you convert the JSON to CSV most of the Value matches the example of the Importion Rows... And it works first after big post pro

[2020-03-05 10:33] l0nax commented on #420
@hunterlong could you please assign the `bug` or `question` label to this issue?

[2020-03-05 14:39] nephthys commented on #207
I have the same problem using docker + MySQL + Statping 0.80.71

[2020-03-05 14:56] nephthys opened #421 "Private service accessible by everyone under Docker / Traefik v2 by typing its URL"
Hi,

I discovered this nice project, well done for the work first.

**Describe the bug**

I can access a private service without being connected by directly typing its URL on Docker / Traefik.

**To Reproduce**

1. Create a service with "Private" visibility, put it in a Private group as well
2. The service isn't visible on the home page, very good
3. But you can access it by typing the URL https:/

[2020-03-05 23:58] hunterlong opened #422 "White-label Branding"
**What would you like on Statping?**
The ability to hide that I’m using Statping and show my company logo, and title.

**Describe the solution you'd like**
Add a couple things to the Settings page:
- Custom Logo Image upload
- Company Name
- Use company name toggle switch

**Describe alternatives you've considered**
Forking the code and replacing stuff, but I don’t want to.

**Is your feature requ

[2020-03-06 04:02] lhanson opened #423 "Exit code always nonzero"
**Describe the bug**
Exiting the process always results in an nonzero exit code.

**To Reproduce**
Steps to reproduce the behavior:
1. Run statping from command line: `/usr/local/bin/statping`
2. Type C-c to terminate process
3. Examine return code: `echo $?`

Killing the program interactively as described (SIGINT) returns 1, as does sending SIGTERM from another shell.

**Expected behavior**
The p

[2020-03-06 04:04] lhanson commented on #360
I'm also interested since I'm just getting into Home Assistant and would be interested in how @geekaroni would envision this integration.

[2020-03-06 07:17] l0nax commented on #360
Could you @geekaroni or you @lhanson create a write-up/ detailed feature description of what exactly you want.

[2020-03-06 07:50] no8ody commented on #363
With the change to Vue.js it will be possible to hide the cards with the graphs on the start page? I tried it before, but unfortunately the graphs in the dashboard are hidden and the service cannot be changed anymore.

That would be a nice feature, I think many people don't need the cards and only need the actual status (the new timeline).

[2020-03-06 18:52] 12nick12 opened #424 "Create user"
A clear and concise description of what the bug is.
I just installed statping using binary on linux. How do I go about creating a user to be able to log in?

[2020-03-06 18:58] l0nax commented on #424
Start _statping_ and then you will land on the Setup page.

[2020-03-06 19:09] 12nick12 commented on #424
Ah ok thank you. I had to go to /setup

[2020-03-06 19:09] #424 closed

[2020-03-07 04:38] gp-Airee commented on #35
@hunterlong hey there, what's the status on this? only thing holding me back from statping!

[2020-03-07 04:53] benyanke commented on #349
I would also love to see this, along with a configurable per-check allowance window for expiry...for example, a cert which lives 2 years should probably be notified at a month before expiry, but a Let's Encrypt Cert which is rotated monthly can probably be notified at 2 weeks before.

[2020-03-07 22:21] Chipx0 commented on #203
Any updates? It looks basically done except for a few items.

[2020-03-07 22:52] MrMittensTheCat commented on #418
I'm on the latest version I can pull from DockerHub yeah..

[2020-03-08 00:31] Chipx0 opened #425 "Hosting with xampp"
Is it possible to host statping with xampp?

[2020-03-09 06:16] DanielRuf commented on #425
Xampp is a stack with PHP. You need Go(lang) for that.

[2020-03-09 06:29] Chipx0 commented on #425
Does that mean it is possible? If so would you mind elaborating on how to do it? Please and thank you.

[2020-03-09 06:39] DanielRuf commented on #425
No, it is not directly possible with Xampp - PHP is a completely different platform.

In general you run the statping binary which brings its own server or use Docker to run it on a hosting platform.

[2020-03-09 07:03] SebastianStehle commented on #425
Thats not entirely true. When you already have another website on port 80 running you cannot use statping on the same port. For example when you have your website (website.com) and the status page (status.website.com). Then you have to configure apache as a reverse proxy for this domain and forward to traffic to your statping instance, running on the same server.

[2020-03-09 07:14] DanielRuf commented on #425
Don't forget the `--port` flag on the CLI. You can run it on a different port.

[2020-03-09 07:16] DanielRuf commented on #425
This is basically just the Apache host config.

[2020-03-09 07:17] Chipx0 commented on #425
Yeah, Ive changed the port, My issue is that i have to enter the port every time to access the page. (I have 2 status pages running for 2 different websites.)

[2020-03-09 07:19] DanielRuf commented on #425
See https://serverfault.com/a/195831/102487

[code]

[2020-03-09 17:46] Chipx0 commented on #425
This unfortunately did not work.

[2020-03-09 19:57] DanielRuf commented on #425
Did you restart your Apache server?
And is `./statping --port 8888` running?

Please keep in mind that the code snippet is just an example.

[2020-03-09 20:14] Chipx0 commented on #425
Yes

[2020-03-10 16:31] ksarnelli commented on #346
I'm experiencing this issue as well.  Aggregation seems to be the answer that other systems use to  not only increase performance but to manage database size.  Some sort of a nightly cron job that converts records older that a certain timeframe into an aggregate value stored in some other table (maybe one entry per day in the aggregate table).

[2020-03-10 16:56] Leopere commented on #209
Why is bulk export not a feature?  This seems kinda important if you have an import feature.

[2020-03-10 18:03] lhanson commented on #209
It seems like an export would also facilitate being able to do sane backups rather than copying around a sqlite database. Perhaps related: https://github.com/statping/statping/issues/402

[2020-03-10 20:17] SebastianStehle commented on #346
It can also be done in SQL directly and GROUP BY for now.

[2020-03-11 07:02] DanielRuf commented on #346
But this is still slower than havinh static aggregated fields. Especially when you group so many values and if there are many services.

[2020-03-11 07:03] DanielRuf commented on #346
But this may still be slower than having static aggregated fields. Especially when you group so many values and if there are many services.

[2020-03-11 07:42] 20Koen02 opened #426 "Set amount of consecutive failures before sending notification"
**What would you like on Statping?**
I would like to be able to set amount of consecutive failures before sending a notification.

**Describe the solution you'd like**
Either a setting per notifier or a setting per service to set the amount

**Describe alternatives you've considered**
Couldn't find any

**Additional context**
https://i.imgur.com/qrmGAME.png

[![Gitter](https://img.shields.io/gitte

[2020-03-11 08:01] SebastianStehle commented on #346
Absolutely, therefore my "for now" ;)

I can help with this but it would be very good to have a backup available for testing.

[2020-03-11 19:51] thedmeyer commented on #338
Any update on merging #361 ?

[2020-03-12 09:26] kuetemeier commented on #338
nope... no response

[2020-03-12 12:24] ksarnelli commented on #338
I also asked in the Slack channel over a week ago and got no response there either.

[2020-03-14 06:51] hunterlong commented on #426
hmm... Statping does have notifications per "minute". (which is being changed to hour in `vue` branch) But not for consecutive failures. I'm not sure if I would want to add this, having notifications based on the issue, Time, is the factor, and should be control from [it](https://www.youtube.com/watch?v=Gwnw8mgDy-o&t=1m54s). Services should be down with endless notifications, they should come back

[2020-03-14 06:59] hunterlong commented on #420
To be able to update, try out the new upcoming version, `docker pull statping/statping:vue` which is branch `vue`. It will export all Services, Core Settings, Groups, Users, and Notifiers using the command:

###### export creates a file `statping-{timestamp}.json`
[code]

###### import once you have a new instance/database
[code]

[2020-03-14 07:19] hunterlong commented on #425
@Chipx0 , If you like XAMMP [somehow](https://www.youtube.com/watch?v=wbQsxWKfTSU&t=1m47s) then you would _adore_ [Docker and Nginx](https://docs.nginx.com/nginx/admin-guide/installing-nginx/installing-nginx-docker/).

I recommend trying to run Statping without Apache first, so like:
[code]

Then, see if you can view Statping at URL: [http://localhost:8888](http://localhost:8888), If you can... th

[2020-03-14 07:21] 20Koen02 commented on #426
It is useful to counter false positives. I have one service which goes offline for 1 check and then back online. I still get the notification and when I check the website it is online.
I only want a notification when Statping is sure the service is down.

You can also replace the consecutive failures with a time variant. For example when I set this setting to 5 minutes, I won’t get a notification

[2020-03-14 08:00] Chipx0 commented on #425
Apparently you need to have windows 10 pro or enterprise to install docker, so thats out of the question sadly.

[2020-03-14 08:02] DanielRuf commented on #425
@Chipx0 thatßs not true. You just need Virtualbox which will be installed by Docker for Windows / Docker Toolbox. It's a bit slower but works. HyperV is not required.

[2020-03-14 08:02] DanielRuf commented on #425
@Chipx0 that's not true. You just need Virtualbox which will be installed by Docker for Windows / Docker Toolbox. It's a bit slower but works. HyperV is not required.

[2020-03-14 08:06] Chipx0 commented on #425
I just tried installing docker for windows and was given that error "you need to have windows 10 pro or enterprise to install docker" your telling me i have to install Virtualbox, then download Win10 Pro iso, then install it, buy a key to activate it, and then install docker? Yeah no thanks. Im not looking to spend money, i dont have it. All i want to do is be able to enter my sub domain without t

[2020-03-14 08:08] DanielRuf commented on #425
You need Docker Toolbox:

https://docs.docker.com/toolbox/toolbox_install_windows/

[2020-03-14 08:12] Chipx0 commented on #425
I still have to install Virtualbox do i not? Why do i have to install 2-3 more applications just to get a simple redirect?

[2020-03-14 08:13] DanielRuf commented on #425
Also I provided the needed information for your case (subdomain).
This is just an example code, you have to try what works.

https://github.com/statping/statping/issues/425#issuecomment-596366555

[2020-03-14 08:13] DanielRuf commented on #425
This is done by Docker Toolbox, no need to install another application yourself.

[2020-03-14 08:14] Chipx0 commented on #425
Yes, Ive tried everything, Nothing works.

[2020-03-14 08:16] DanielRuf commented on #425
No, this is already done by Docker with the base image and you run some `docker pull` command to download the statping image.

[2020-03-14 08:16] DanielRuf commented on #425
No, this is already done by Docker Toolbox with the base image and you run some `docker pull` command to download the statping image.

[2020-03-14 08:21] Chipx0 commented on #425
Apparently this now works, however i am unable to access phpmyadmin now.

[2020-03-14 08:23] DanielRuf commented on #425
You did not provide the steps that you tried (did you restart Apache, did you check the config with apachectl, ...). Also please provide the code that you tried. Maybe there is some step missing or the code not correct (wrong file probably too).

[2020-03-14 08:24] DanielRuf commented on #425
Any specific error when you start Xampp? What port does phpmyadmin use?

[2020-03-14 08:26] Chipx0 commented on #425
There is no error. Just when attempting to access phpmyadmin it directs to statping with page not found.

[2020-03-14 08:28] DanielRuf commented on #425
Please provide your current Apache vhost config for your Xampp.

[2020-03-14 08:31] DanielRuf commented on #425
This code may work better:

[code]

[2020-03-14 08:32] DanielRuf commented on #425
It's from the same stackexchange link. If it does not work try a search for "apache subdomain proxy different port".

[2020-03-14 08:35] Chipx0 commented on #425
<VirtualHost *:80>
    ServerAdmin me@mydomain.com
    ServerName stat.5cad.xyz
    ProxyPreserveHost On

    # setup the proxy
    <Proxy *>
        Order allow,deny
        Allow from all
    </Proxy>
    ProxyPass / http://localhost:2314/
    ProxyPassReverse / http://localhost:2314/
</VirtualHost>

Not sure that this will work as i will be having two instances of statping running on two differ

[2020-03-14 08:39] DanielRuf commented on #425
Well, it should work. It internally redirects a specific subdomain to a different port.

[2020-03-14 08:42] DanielRuf commented on #425
Also please check how Apache worjs with `ServerName`.

There are a few examples at https://httpd.apache.org/docs/2.4/vhosts/examples.html

[2020-03-14 08:42] DanielRuf commented on #425
Also please check how Apache works with `ServerName`.

There are a few examples at https://httpd.apache.org/docs/2.4/vhosts/examples.html

[2020-03-14 08:45] DanielRuf commented on #425
So your vhost config contains no phpmyadmin entries? Did you remove the other :80 entries or was the file empty?

[2020-03-14 09:08] Chipx0 commented on #425
I get a blocked port error.

[2020-03-14 09:34] DanielRuf commented on #425
Did you adjust the example code?

[2020-03-14 09:35] DanielRuf commented on #425
Otherwise please try it with the previous code and add all needed vhost entries to your vhost file.

[2020-03-14 09:48] Chipx0 commented on #425
I did yes and it did not work, I just get a blocked port error. The only thing that worked was

<VirtualHost *:80>
    ServerAdmin me@mydomain.com
    ServerName dev.mydomain.com
    ProxyPreserveHost On

    # setup the proxy
    <Proxy *>
        Order allow,deny
        Allow from all
    </Proxy>
    ProxyPass / http://localhost:8888/
    ProxyPassReverse / http://localhost:8888/
</VirtualHost

[2020-03-14 09:55] DanielRuf commented on #425
Maybe `<VirtualHost subdomain.example.com:80>` works.

Well, I think you have to try a bit, read the Apache examples and checkour config file.

[2020-03-14 10:00] Chipx0 commented on #425
I did try, All i get is a blocked port error in the xampp control panel

[2020-03-14 18:42] SebastianStehle commented on #425
Perhaps you have another service listening on port 80? IIS or another webserver? I think even older versions of skype listened on port 80

[2020-03-14 23:40] Chipx0 commented on #425
I have no other service using port 80.

[2020-03-15 16:22] koopernick opened #427 "Fresh install - can't make it working."
Hello,

(I'm not familiar with docker, just to make things clear from the start).

I have a fresh VM (debian 10) on proxmox, with Docker and Docker compose installed. And I'm trying to install your docker image.

Here is what I did

[code]

I went to => http://192.168.1.120:8080/setup
Filled everything, but when trying to validate, this error message shows up :

`dial tcp 127.0.0.1:5432: connect:

[2020-03-16 05:36] HenrikBengtsson commented on #427
Same problem for me using `docker run ...` on an up-to-date Ubuntu 18.04 where I cannot get past the setup page.  However, `docker-compose` worked;
[code]
Opening this in the browser;
[code]
and there's the Statping - Statping Monitoring Sample Data demo page running.

To terminate:
[code]

[2020-03-16 13:50] koopernick commented on #427
The git clone didn't work for me :

[code]
This is the first time I have this issue using the git command.
However, downloading the zip from the github directly worked, and docker-compose is working.

I really don't understand why there is not an easy setup in their wiki, to copy paste commands in order to have this running without any thinking.

Anyway, thanks again !

[2020-03-16 13:50] #427 closed

[2020-03-16 15:22] HenrikBengtsson commented on #427
Sorry mate, my bad, I've updated the `git clone` command to:
[code]
That one should work for everyone.  The previous one that used the `git@github.com:statping/statping.git` URL requires you to have a GitHub account and associates SSH keys set up;

[2020-03-16 20:17] skillcoder commented on #426
Totaly usefull feature.
Im here for write the same feature request. but it's already here.

[2020-03-16 20:36] skillcoder commented on #2
If i have automatic planed maintenance every day in the same time (well-known time) (service always is down during this period - is normal), how can I instruct the StatPing to does not send me alert during the known maintenance period ?
Any options per service ?

[2020-03-16 21:45] dvand commented on #174
Same here. ICMP failure doesn't seem to do anything.

[2020-03-16 23:42] jensz12 commented on #371
Any updates on a release that fixes this @hunterlong ?

[2020-03-17 05:30] DanielRuf commented on #371
See https://github.com/statping/statping/issues/371#issuecomment-584870008

The tag was not pushed here but on Docker Hub.

/cc @hunterlong

[2020-03-17 06:43] Chipx0 commented on #425
If anyone else is looking to do the same that i am, The solution is here: https://superuser.com/questions/1532450/using-a-sub-domain-on-my-local-machine-without-specifying-the-port/

[2020-03-17 06:43] #425 closed

[2020-03-17 10:18] jensz12 commented on #371
@DanielRuf I'm not running Statping in a Docker container, thats why i asked for a release here

[2020-03-17 13:25] DanielRuf commented on #371
I understood that. @hunterlong has to push the already released .71 version on GitHub too =)

[2020-03-18 16:33] sergey-prosvirnin opened #428 "Telegram notifications do not work."
Hello, I am using your Docker image and have encountered a problem that I do not receive notification from Telegram when the host is unavailable. But the test upload to Telegram works successfully.

![2020-03-18_19-33-12](https://user-images.githubusercontent.com/24830345/76984014-58b7e100-694f-11ea-8696-b7510f8c6f10.png)

[2020-03-19 02:51] FuzzyMistborn commented on #428
Check out if https://github.com/statping/statping/issues/314#issuecomment-585870805 solves things for you.

[2020-03-19 08:09] sergey-prosvirnin commented on #428
Thank you, that helped!

[2020-03-20 10:39] FanyangMengDev opened #430 "0.90.10 binary version cannot run properly"
Just upgrade from 0.80.70, when I start the 0.90.10, the website keep returning 502 error

Please have a check, thanks

[2020-03-20 17:10] Saicasm opened #431 "Users Logged in as non-admins cannot access dashboard and other parts of the application"
When a user logs in as non-admin only index page is displayed and other pages are unaccessible

[2020-03-20 17:14] Saicasm opened #432 "Graphs issue in MYSQL"
### Describe the bug
When using MYSQL database the graphs in index page and view service page won't display

### To Reproduce

1. I'm using version: '0.80.71'

### Expected Behavior
Graphs To be displayed when using  MYSQL database

[![Slack](https://slack.statping.com/badge.svg)](https://slack.statping.com/) [![GitHub release](https://img.shields.io/github/release/hunterlong/statping.svg)](https:

[2020-03-21 03:46] FanyangMengDev commented on #430
@hunterlong @l0nax

[2020-03-21 06:59] mathieu-aubin commented on #430
x64 binary throws garbage and exits with

`FATA[0000] could not locate box "dist"                   type=cmd`

[2020-03-21 07:44] FanyangMengDev commented on #430
@mathieu-aubin Just renamed this issue without OS data. Thank you for your advice.

[2020-03-21 12:44] l0nax commented on #430
I will start investigating.

[2020-03-21 15:36] mathieu-aubin commented on #430
After compiling from master branch i also get this

[code]

which kinda makes this... well.

You have a good thing here. I believe focus should be on ironing EVERYTHING, making sure all claims are not just that, claims without performance. I honestly have found over 15 things that are less than up to par and wish i had time to report on them but since many of them are evident, i wonder why it gets

[2020-03-21 18:09] steve-todorov opened #433 "Cannot create a new service group from the UI"
### Describe the bug

You cannot create a new service group because the it lands into [updateGroup](https://github.com/statping/statping/blob/d4367cc9c93b9943b067b3a75f09b9d029085848/frontend/src/forms/Group.vue#L91) instead of [createGroup](https://github.com/statping/statping/blob/d4367cc9c93b9943b067b3a75f09b9d029085848/frontend/src/forms/Group.vue#L83)

### To Reproduce

Steps to reproduce the

[2020-03-21 18:19] captainwasabi opened #434 "Webhook %service.Online is always false"
### Describe the bug

in Webhook %service.Online is always false

### To Reproduce
Steps to reproduce the behavior:
1. I'm using version: latest

set webhook html to

{"username":"StatPing", "text":"%service.Name is %service.Online because %failure.Issue..."}

When the service comes back up the following is posted:

{"username":"StatPing", "text":"chat is false because %failure.Issue"}

### Expect

[2020-03-21 20:48] hunterlong commented on #433
Checking this out now...

[2020-03-21 23:19] hunterlong commented on #423
This has been added, Statping will now close with exit code 0, failures/errors will return 2.

[Version 0.90.11](https://github.com/statping/statping/releases/latest)

https://github.com/statping/statping/blob/af989a2399003cb92edf273ac565b55f8c5746b5/cmd/main.go#L189-L196

[2020-03-21 23:19] #423 closed

[2020-03-21 23:20] captainwasabi opened #435 "Email notification subject wording"
Currently the subject line when the service goes offline says

`Service <serviceName> is failing.`

I suggest the following

`Service <serviceName> is offline`

Currently the subject line when the service comes back online says

`<serviceName> has been offline for ### seconds.`

I suggest the following

`<serviceName> is back online after ### seconds`

[2020-03-21 23:21] hunterlong commented on #433
This issue has been fixed.

[Version 0.90.11](https://github.com/statping/statping/releases/latest)

https://github.com/statping/statping/blob/af989a2399003cb92edf273ac565b55f8c5746b5/frontend/src/forms/Group.vue#L70-L78

[2020-03-21 23:21] #433 closed

[2020-03-21 23:23] hunterlong commented on #431
Checkin this out now.

[2020-03-22 00:30] mzch opened #436 "No service is shown in 0.90.11"
### Describe the bug
When updating from 0.80.70 to 0.90.11, all services become not to be shown.

### To Reproduce
Steps to reproduce the behavior:
1. I'm using version: '0.9.11'
2. I went to 'Top page'
3. Only Group names are shown.
4. Go to 'Dashboard' -> 'Settings'
5. No notifiers are shown

### Expected Behavior
All services and notifiers are shown

[![Slack](https://slack.statping.com/badge.s

[2020-03-22 00:37] hunterlong commented on #436
0.90 is a pretty massive update. Are there any logs you can provide?

[2020-03-22 00:38] mzch opened #437 "Telegram notifier doesn't work"
### Describe the bug
I setup Telegram but doesn't work. Statping logs, "Notifier 'telegram' had an error: Error code 400 - Bad Request: message text is empty"

### To Reproduce
Steps to reproduce the behavior:
1. I'm using version: '0.80.70'
2. I went to 'Dashboard' -> Settings -> Telegram
3. I filled API Token and User ID.
4. Click 'Test Notifier'

### Expected Behavior
Notification would be rece

[2020-03-22 01:05] mzch commented on #436
I found only these lines...
[code]

[2020-03-22 02:16] hunterlong commented on #436
Awesome, thank you. Checking this out now.

[2020-03-22 05:02] hunterlong commented on #431
This issue has been fixed.

[Version 0.90.11](https://github.com/statping/statping/releases/latest)

[2020-03-22 05:02] #431 closed

[2020-03-22 05:03] hunterlong commented on #430
Build method was incorrectly setup on Travis CI. I've fixed. 👍

[Version 0.90.11](https://github.com/statping/statping/releases/latest)

[2020-03-22 05:03] #430 closed

[2020-03-22 05:33] Saicasm commented on #431
Thank you for the fix

[2020-03-22 05:39] FanyangMengDev commented on #430
Am I doing anything wrong? Just use the 0.90.11 and still nothing displayed. You can have a look on status.fanyangmeng.com . So many 404 error

[2020-03-22 05:41] FanyangMengDev commented on #436
I got nothing displayed after upgraded to 0.90.11...
These recent 0.90 upgrade really drives me crazy... I am using Ubuntu 18.04 LTS and linux 64 version.

Now I have to return 0.80.70.

Please test the release before you publish them... Thanks.

@hunterlong

[2020-03-22 05:53] Saicasm commented on #432
Working now,Thanks again

[2020-03-22 05:53] #432 closed

[2020-03-22 06:06] hunterlong commented on #430
Hmmm.. I checkout out your domain, and I don't see any 404 errors. If you created custom assets, can you delete the `assets` folder and restart Statping?

[2020-03-22 06:08] FanyangMengDev commented on #430
Actually I just changed to 0.87 verison now. OK, I will have a test....

[2020-03-22 06:10] hunterlong commented on #432
This believe I fixed the issue.

[Version 0.90.12](https://github.com/statping/statping/releases/latest)

https://github.com/statping/statping/blob/b4a7eebe90db74759b336a80efba7509f07a7f44/database/grouping.go#L54

https://github.com/statping/statping/blob/b4a7eebe90db74759b336a80efba7509f07a7f44/database/time.go#L14

[2020-03-22 06:13] hunterlong commented on #436
There are tests that run within Travis, and I'm working on going through each issue and creating patches. I have a recommendation...

- Have you customized your Theme? If so, delete the `assets` folder and restart Statping.

[2020-03-22 06:13] FanyangMengDev commented on #430
@hunterlong Thank you for your advice, after delete assets folder it can display properly. But the version still displays as 0.80.70.... You can directly see it from my website...

Did you forget change the version number? Or is there anything wrong form my end?

[2020-03-22 06:17] hunterlong commented on #436
Also, I just finished an update for some MySQL fixes. [Version 0.90.12](https://github.com/statping/statping/releases/latest). Can you please answer a couple questions?

- What type of database are you using?
- Are you using a custom Theme? If so, delete the `assets` folder and reboot.
- Any errors within the browser console?

I'm going to be looking over browser errors right now, I'll get back to

[2020-03-22 06:21] FanyangMengDev commented on #436
#430 Just replied to you in this issue. With 0.90.12 all is well now. But the only problem is that the version on the front end page still display as 0.80.70. Did you forget to change it? Or did I do anything wrong that did not make version number upgrade?

[2020-03-22 06:26] hunterlong commented on #436
Hmmm.. that's odd. Version number is built with the current version inside `version.txt` file.

https://github.com/statping/statping/blob/b4a7eebe90db74759b336a80efba7509f07a7f44/version.txt#L1

Looking into this now.

[2020-03-22 07:11] hunterlong commented on #436
@FanyangMengDev , nice catch on the Version number, I've fixed that issue. New version is building now, should be on Docker and Releases in couple minutes. [Version 0.90.13](https://github.com/statping/statping/releases/latest)

https://github.com/statping/statping/commit/a7b49500caba6fd40753dc99e58ccd922ee948ea

[2020-03-22 07:12] #436 closed

[2020-03-22 07:20] hunterlong commented on #420
Alrighty, new version [Version 0.90+](https://github.com/statping/statping/releases/latest) has a CLI tool that can export and import like I stated above.

## Export
- `statping export`
This creates a new file `statping-{timestamp}.json`

## Import
- `statping import statping-{timestamp}.json`
This command will ask you if you want to import for each type of object.

<img width="1109" alt="Screen S

[2020-03-22 07:20] #420 closed

[2020-03-22 07:22] hunterlong commented on #418
I believe this issue has been fixed in latest version, the `vue` branch and updates are now on `master`. I am able to create a new instance using MySQL. Use the docker image `statping/statping`.

### `docker pull statping/statping`

[2020-03-22 07:22] #418 closed

[2020-03-22 07:49] FanyangMengDev commented on #436
Thank you for your hard working mate. Looking forward to this new version~

[2020-03-22 07:53] Saicasm opened #438 "Admin page reload redirects to non admin page"
### Describe the bug
When a admin reloads the page it redirects to the non-admin page

[![Slack](https://slack.statping.com/badge.svg)](https://slack.statping.com/) [![GitHub release](https://img.shields.io/github/release/hunterlong/statping.svg)](https://github.com/statping/statping/releases/latest) [![Build Status](https://travis-ci.com/hunterlong/statping.svg?branch=master)](https://travis-ci.c

[2020-03-22 08:06] hunterlong commented on #417
Hey @seebeen , sorry about the delay. Statping does have an environment variable called `SASS` that should be the absolute path to your sass binary. To figure that out, do:
1. In the terminal, run `which sass` and it will return the absolute path to binary.
2. Set the `SASS` environment variable to this value, and restart Statping.
3. Delete `assets` folder just in case and Enable Assets within th

[2020-03-22 08:06] #417 closed

[2020-03-22 08:07] hunterlong commented on #438
Hmmm... I'll look into this now.

[2020-03-22 08:10] hunterlong commented on #396
Hey @DanielRuf and @l0nax , I just wanted to post an update here. I've been keeping up to date on the [CHANGELOG.md](https://github.com/statping/statping/blob/master/CHANGELOG.md) file and I will keep it up-to-date for each change.

[2020-03-22 08:10] #396 closed

[2020-03-22 08:16] hunterlong commented on #438
I've created the fix, it will be in version [0.90.15](https://github.com/statping/statping/releases/latest). I'm going to include a couple more fixes in this version., I'll update here once released (shortly).

[2020-03-22 08:18] hunterlong commented on #346
I believe there was an issue with the Notifiers Logs not ever cleaning out it's state. It would just continuously add more and more Logs, thus, expanding the heap/memory. I've removed Logs from notifiers in the [latest version 0.90+](https://github.com/statping/statping/releases/latest).

[2020-03-22 08:19] hunterlong commented on #346
And @zeeZ , I have added SQL indexes to multiple tables.

https://github.com/statping/statping/blob/f953eea1dd4fec4ccd5218acf2b35f97de52b096/types/configs/migration.go#L104-L125

[2020-03-22 08:23] hunterlong commented on #403
@DanielRuf , very correct about sha1. The function has been replaced with SHA256. (in latest version 0.90+)

https://github.com/statping/statping/blob/d4367cc9c93b9943b067b3a75f09b9d029085848/utils/encryption.go#L32-L38

[2020-03-22 08:23] #403 closed

[2020-03-22 08:24] hunterlong commented on #402
Statping now has a couple commands to make this process easier in the latest [Version 0.90+](https://github.com/statping/statping/releases/latest) has a CLI tool that can export and import like I stated above.

## Export
- `statping export`
This creates a new file `statping-{timestamp}.json`

## Import
- `statping import statping-{timestamp}.json`
This command will ask you if you want to import fo